@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

:root {
    --main-color: #fefefe;
    --load-color: #151f7f;
    --secondary-color: #949efe;
    --bg-color: rgba(246, 248, 250, 1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}


body {
    width: max-content;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
body[review] {
    background-color: rgba(246, 248, 250, 1);
}

body,
header section.head_section {
    background-color: rgba(246, 248, 250, 1);

}



header section.head_section {
    display: flex;
    justify-content: space-between;

}

div.login {
    display: flex;
    align-content: center;
    width: 8em;
    justify-content: space-between
}

div.login>div {
    display: flex;
}

div.login>div button {
    background: none;
    border: none;
}

div.login>div a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}


form input {
    display: block;
    padding: 1.3em;
    margin-bottom: 1em;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    border: none;

}

textarea {
    width: 100%;
    padding: 1em;
    background-color: white;
    border: none;
    border-radius: 8px;
}

.contact-page {
    display: flex;
    max-width: 100%;

    justify-content: space-between;
    gap: 15rem
}

.address {
    align-self: flex-end;
}

.contact-page h2,
.contact-page p {
    padding: .5em 0;
    color: var(--secondary-color);
}

.address div {
    display: flex;
    padding: .5em;
    gap: .5rem;

}

.address div span {
    color: var(--secondary-color);
}

#submit {
    color: white;
    background-color: var(--load-color);
    margin-top: 1em;
}

/*CSS for the Review Page*/
section[reviews] {
    border: none;
    width: 100%;
}

header .head_section {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255);
    padding: 1em;
    align-items: center;
}

header .head_section .top-link ul li {
    padding: 1em;
    display: inline-block;
}

header .head_section .top-link ul li a {
    color: rgba(0, 0, 0, 0.424);
    font-weight: 500;
    text-decoration: none;
}

header .search_bar #search_bar {
    height: 2.4em;
    width: 23em;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0 .5em;
}

.progress-container {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7px;
    width: fit-content;
}

div.progress-bar {
    height: 8px;
    width: 16em;
    background-color: var(--secondary-color);
}

section[reviews] {

    width: 100%;
    margin-top: 2em;
}

div.progress-bar-fill {
    height: inherit;
    width: 60%;
    background-color: var(--load-color);
}

div.first {
    width: 100%;
}

div.second {
    width: 80%;
}

div.third {
    width: 60%;
}

div.fourth {
    width: 40%;
}

div.fifth {
    width: 20%;
}

.stars-container {
    width: fit-content;
}

.stars-container .star {
    display: flex;
    justify-content: right;
    gap: 5px;
    padding-top: 5px;
}

div.review-section {
    margin-top: 2em;
}

div.review-section div.overall-review {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

div.review-section div.overall-review .review-container div[contain] {
    display: flex;
}

i.fas {
    color: gold;
    ;
}

div.profile-pic {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
}

div.profile-pic img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.pro-contain {
    display: flex;
    padding-top: 1em;
    gap: 1.4rem;
    margin-top: 1.5em;
}

div.profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

div.profile h4 {
    color: var(--load-color);
}

div.time p {
    color: var(--secondary-color)
}

.head_section .logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--load-color);
}

.head_section .logo span {
    color: black;
}

div.footLogo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--load-color);
}

.footLogo span {
    color: black;
}

footer div {
    width: fit-content;
    background-color: white;
    color: black;
    padding: .7em;
    text-align: center;

}

div.icons {
    display: none;
}

header .icons div,

header .icons a {

    height: 2rem;

    width: 2rem;

    font-size: 1rem;

    line-height: 2rem;

    background: rgb(39, 38, 38);

    color: #fff;

    text-align: center;

    border-radius: 50%;

    cursor: pointer;

    margin-right: .7rem;

}

header .icons div:hover,

header .icons a:hover {

    background: var(--secondary-color);

    color: #fff;


}

header.active {

    position: fixed;

    top: 0;

    left: 0;

    z-index: 100;

}

.navbar {

    position: fixed;

    top: 0;

    left: -120%;

    height: 100%;

    background: var(--main-color);

    padding: 3rem;

    width: 23rem;

}

.navbar.active {

    left: 0;

    z-index: 1;

}

.navbar .user {

    text-align: center;

    margin: 3rem auto;

}

.navbar .user img {

    height: 10rem;

    width: 10rem;

    border-radius: 50%;

    border: .5rem solid var(--main-color);

    object-fit: cover;

    box-shadow: 4rem 2rem 0 -3rem var(--secondary-color), -4rem -2rem 0 -3rem var(--secondary-color);

}

.navbar .user h4 {

    padding-top: .5rem;

    color: #333;

    font-weight: 500;

    font-size: 1.4rem;

}

.navbar .links a {

    display: block;
    text-decoration: none;

    border-bottom: .1rem solid rgba(0, 0, 0, 0.3);

    font-size: 1.2rem;

    padding: 1rem 0;

    color: #333;

}

.navbar .links a:last-child {

    border: none;

}

.navbar .links a:hover {

    letter-spacing: .2rem;

    color: var(--secondary-color);

}

.navbar #close {

    position: absolute;

    top: 1rem;

    right: 2rem;

    font-size: 3rem;

    cursor: pointer;

    color: #333;

}

.navbar #close:hover {

    color: var(--secondary-color);

}

footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 2em;
}
@media screen and (max-width:476px) {
    html{
        font-size: 70%;
    }
}