@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

:root {
  --main-color: hsl(0, 0%, 100%);
  --load-color: #1B29A9;
  --secondary-color: #949efe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  position: relative;
}

.material-symbols-outlined {
  color: var(--mainColor);
}

body {
  margin: 0 auto;
  max-width: max-content;
  justify-content: center;
  font-family: sora;
  background-color: #F6F8FA;
}

header .head_section {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255);
  padding: 1em;
  align-items: center;
}

.head_section .logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--load-color);
}

.head_section .logo span {
  color: black;
}

.linkPages {
  z-index: 1;
}

header .search_bar #search_bar {
  height: 2.4em;
  width: 23em;
  border-radius: 3px;
  outline: none;
  border: .6px solid rgba(128, 128, 128, .5);
  padding: 0 .5em;
}

header .head_section .logo img {
  width: 70px;
  height: 55px;
  object-fit: contain;
}

div.login {
  display: flex;
  align-content: center;
  width: 8em;
  justify-content: space-between
}

div.login>div {
  display: flex;
}

div.login>div button {
  background: none;
  border: none;
}

div.login>div a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 8px;
}

.nav-links ul li {
  /* position: relative; */
  text-decoration: none;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--main-color);
}

.nav-links ul div ul li a {
  text-decoration: none;
  width: 2rem;
  color: var(--main-color);
}

.nav-links ul div ul li {
  margin: 10px 0px;
  border-bottom: 1px solid #7c84ce;
}

.nav-links ul div ul {
  position: relative;
  top: .3rem;
  left: -40px;
  display: block;
  width: 11rem;
}

.nav-links ul div {
  display: none;
  position: absolute;
  width: 2rem;
  top: 5.7rem;
}

.nav-links ul li:hover div,
.nav-links ul li:active div {
  display: block;
}

.navLinks ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: .5em;
}

header .head_section .top-link ul li {
  padding: 0 1em 0 1em;
  display: inline-block;
}

header .head_section .top-link ul li a {
  color: rgba(0, 0, 0, 0.424);
  font-weight: 500;
  text-decoration: none;
}
/* main section */
#login-body-content {
  max-width: max-content;
  max-width: 1200px;
}

#login-form {
  padding: 70px 0 0;
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  color: var(--load-color);
  padding: 0 0 40px;
  text-align: center;
}

.login-label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  padding: 8px 0;
  color: var(--load-color);
}

.login__input-box {
  padding: 0 0 32px;
}

#email-phone,
#password {
  display: block;
  padding: 24px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid rgba(90, 90, 90, 0.5);
  border-radius: 8px;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.login-btn {
  display: block;
  padding: 32px 24px;
  background: var(--secondary-color);
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  max-width: 590px;
  margin: 0 auto;
  color: #fff;
}

.login-btn:hover {
  color: #fff;
  background: var(--load-color);
}

.form__text {
  margin-top: 4px;
  padding: 16px 0;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.create-account-login {
  padding: 25px 0 0;
}

.create-account__link {
  padding: 32px 24px;
  border: 1px solid var(--load-color);
  border-radius: 8px;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.account-terms {
  color: var(--secondary-color);
  cursor: pointer;
}

.acc {
  font-size: 16px;
}

.create-account__link:hover {
  background: var(--secondary-color);
}

div.icons {
  display: none;
}

header .icons div,

header .icons a {

  height: 2rem;

  width: 2rem;

  font-size: 1rem;

  line-height: 2rem;

  background: rgb(39, 38, 38);

  color: #fff;

  text-align: center;

  border-radius: 50%;

  cursor: pointer;

  margin-right: .7rem;

}

header .icons div:hover,

header .icons a:hover {

  background: var(--secondary-color);

  color: #fff;


}

header.active {

  position: fixed;

  top: 0;

  left: 0;

  z-index: 100;

}

.navbar {

  position: fixed;

  top: 0;

  left: -120%;

  height: 100%;

  background: var(--main-color);

  padding: 3rem;

  width: 23rem;

}

.navbar.active {

  left: 0;

  z-index: 1;

}

.navbar .user {

  text-align: center;

  margin: 3rem auto;

}

.navbar .user img {

  height: 10rem;

  width: 10rem;

  border-radius: 50%;

  border: .5rem solid var(--main-color);

  object-fit: cover;

  box-shadow: 4rem 2rem 0 -3rem var(--secondary-color), -4rem -2rem 0 -3rem var(--secondary-color);

}

.navbar .user h4 {

  padding-top: .5rem;

  color: #333;

  font-weight: 500;

  font-size: 1.4rem;

}

.navbar .links a {

  display: block;
  text-decoration: none;

  border-bottom: .1rem solid rgba(0, 0, 0, 0.3);

  font-size: 1.2rem;

  padding: 1rem 0;

  color: #333;

}

.navbar .links a:last-child {

  border: none;

}

.navbar .links a:hover {

  letter-spacing: .2rem;

  color: var(--secondary-color);

}

.navbar #close {

  position: absolute;

  top: 1rem;

  right: 2rem;

  font-size: 3rem;

  cursor: pointer;

  color: #333;

}

.navbar #close:hover {

  color: var(--secondary-color);

}