main {
    margin-top: 2rem;
}

.shoes-section {
    border: 1px solid var(--secondary-color);
    padding: 1.5rem 1rem;
    border-radius: 8px;
    margin-top: 3rem;
}

.shoes-section h2 {
    margin-top: 0px;
    margin-bottom: 1.4em;
    color: var(--load-color);
    font-size: 1.6rem;
    font-weight: bolder;
}

.shoes-box {
    display: flex;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shoe-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.shoe-content h4 {
    color: var(--load-color);
    font-size: large;
    font-weight: bolder;
    width: 38%;
    text-align: center;
}

.shoe-content p {
    padding-bottom: 1em;
    color: var(--secondary-color);
}