* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    position: relative;
    padding: 2rem;
    display: grid;
    grid-template-areas:
        'header header header'
        'display display display'
        'aside main main'
        'footer footer footer'
    ;
    grid-template-columns: 1.5fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

header {
    grid-area: header;
    width: 100%;
}

header .head_section {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255);
    padding: .5em;
    align-items: center;
}

header .search_bar #search_bar {
    height: 2.4em;
    width: 23em;
    border-radius: 3px;
    outline: none;
    border: .6px solid rgba(128, 128, 128, .5);
    padding: 0 .5em;
}

header .head_section .logo img {
    width: 70px;
    height: 55px;
    object-fit: contain;
}

header #nav_bar {
    /* display: flex;
    justify-content: space-evenly; */
    background-color: rgb(206, 212, 218);
    padding: .5em;

}

header #nav_bar .navLinks ul {
    display: inline-flex;
    width: 100%;
}

.navLinks ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: .5em;
}

.navLinks ul a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
}

.navLinks ul li:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 3px;
}

.subMenu1 {
    display: none;
}



.subMenu1 ul li:last-child {
    border-bottom: none;
}

.subMenu1 ul {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 2em;


}

.navLinks ul li:hover .subMenu1 {
    display: block;
    position: absolute;
    z-index: 10;
    transform: translateY(0em);
    transition: translate 5s ease-in-out;


}

.navLinks ul li:hover .subMenu1 ul.linkPages {
    display: block;
    margin: 10px;
    transform: translateY(0em);
    transition: translate 5s ease-in-out;
}

.display-images {
    grid-area: display;
    width: 100%;
    height: 40vh;
    border: 1px solid #949FFE;
    border-radius: 8px;
}

aside {
    grid-area: aside;
    width: 100%;
    height: max-content;
}


aside div.filter {
    background-color: #fff;
    width: 100%;
    padding: 4px;
    margin-top: .4rem;
}

input[price] {
    width: 4em;
    height: 2em;
    margin-top: .35rem;
    padding: 2px;
}

input[search] {
    width: 100%;
    height: 2rem;
}

p.text {
    text-align: center;
    padding: 10px;
    font-size: calc(2rem/3);
}

div[priceText] {
    padding: 5px 0px;
    margin-top: .35rem;
    background-color: #949FFE;

}

div.input {

    text-align: center;
}

aside .filter ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

aside .filter ul li a {
    text-decoration: none;
    padding: 0px 5px;
    color: black;
}

aside .filter div.brands {
    margin: .9rem 0;

}

aside .filter div.brands h4 {
    background-color: #949FFE;
    padding: 8px 5px;
}

aside .filter div.brands>span {

    text-align: right;
    display: block;

}

aside .filter div.stores {
    margin: .9rem 0;

}

aside .filter div.stores h4 {
    background-color: #949FFE;
    padding: 8px 5px;
}

aside .filter div.stores>span {

    text-align: right;
    display: block;

}

main {
    width: 100%;
    grid-area: main;
}

main .display {
    width: 100%;
}

.container {
    width: 100%;
    padding: 2rem;
    border: none;
    margin-bottom: 2rem;
    background-color: #fff;
    overflow: hidden;
    color: #949FFE;
}

.container h2 {
    margin-bottom: 2rem;
}

.container .items-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.container .items-container .items {
    width: 100%;
    margin-left: 1rem;
}

.container .items-container .items .picture {
    width: 80%;
    height: 13rem;
    border: 1px solid #949FFE;
    border-radius: 5px;
}

.container .items-container .items .item-text {
    margin-top: 1rem;
    border: 1px solid #949FFE;
    border-radius: 10px;
    padding: 1rem;
}

.container .items-container .items .item-text h3 {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.container .see-more {
    margin-top: 2rem;
    text-align: right;
}

.container .see-more a {
    text-decoration: none;
    color: black;
}

footer {
    grid-area: footer;
    width: 100%;
    padding: 2rem;
}

footer .footerContainer {
    display: flex;
    justify-content: space-between;
}

div.footLogo img {
    width: 120px;
}

.Social_Icons div.Icons ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Social_Icons div.Icons ul li {
    padding: 5px;
}

div.Icons ul li {
    list-style: none;
}

section[categories] ul li,
[gadgetBrands] ul li,
[popularBrands] ul li,
[about] ul li {
    list-style: none;
    padding-top: 10px
}

section[categories] ul li a,
[gadgetBrands] ul li a,
[popularBrands] ul li a,
[about] ul li a {
    text-decoration: none;
    color: black;

}

section[bottom] {
    display: flex;
    justify-content: space-between;
}

section[bottom] .contact {
    display: flex;
    align-items: center;
}

section[bottom] .contact a {
    padding: 0 10px;
    text-decoration: none;
}

.contact div.box {
    width: 8px;
    height: 8px;
    background-color: black;

}