@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700;800&display=swap");

:root {
  --main-color: #fefefe;
  --load-color: #151f7f;
  --secondary-color: #949efe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
}

main {

  display: grid;
  grid-template-areas:
    "slider slider slider slider slider"
    "filter box box box box"
    "reviews reviews reviews reviews reviews";
    margin-top: 2rem;
  gap: 3rem;
  justify-content: center;
}

main .hero-section {
  grid-area: slider;
  display: flex;
  width: 100%;
}

main .hero-section img {
  width: 12em;
}

aside.filter {
  grid-area: filter;
  height: fit-content;
  width: 18em;
}

.filter h2 {
  color: var(--load-color);
  padding: 10px;
}

.filter p[search-text] {
  text-align: center;
  font-size: 13px;
  padding: 1.5em 0;
  color: var(--load-color);
}

.filter span {
  display: block;
  text-align: center;
}

.filter input[search] {
  padding: 0.9em;
  border-radius: 8px;
  border: 1px solid rgb(73, 70, 70);
  outline: none;
  width: 100%;
  margin-bottom: 0.6em;
}

.filter div.amount input {
  width: 100px;
  text-align: center;
  padding: 0.7em;
  border-radius: 10px;
  border: 1px solid rgb(73, 70, 70);
}

.filter div.amount {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.6em;
}

div[container] {
  grid-area: box;
  width: 100%;
}

section.reviews {
  grid-area: reviews;
}

h3 {
  background-color: var(--secondary-color);
  color: white;
  padding: 6px;
  border-radius: 8px;
}

.popular {
  margin-top: 1.4em;
}

.popular div a,
.stores div a {
  text-decoration: none;
  color: black;
}

.popular div,
.stores div {
  padding: 4px 15px;
}

.popular div:last-child,
.stores div:last-child {
  width: 100%;
  text-align: right;
}

aside.filter div[load-more] {
  background-color: var(--load-color);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

aside.filter div[load-more] a {
  color: white;
  text-decoration: none;
}

.preview .box div img {
  /* width: 13em; */
  width: 144px;
}

.preview {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.box {
  padding: 0 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: var(--main-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h4 {
  color: var(--load-color);
  text-align: center;
  font-size: large;
  font-weight: bolder;
  padding-top: 16px;
  padding-bottom: 1em;
  width: 200px;
}

.box p {
  text-align: center;
  padding-bottom: 1em;
  color: var(--secondary-color);
}

.iPhone,
.samsung,
.tecno,
.hot-deals {
  border: 1px solid var(--secondary-color);
  padding: 1.5rem 1rem;
  border-radius: 8px;
}

.samsung,
.tecno,
.hot-deals {
  margin-top: 3rem;
}

.iPhone h2,
.samsung h2,
.tecno h2,
.hot-deals h2 {
  margin-top: 0px;
  margin-bottom: 1.4em;
  color: var(--load-color);
  font-size: 1.6rem;
  font-weight: bolder;
}

.hot-deals .box {
  width: 100%;
}

.hot-deals .box img {
  display: block;
  margin: 0 auto;
}

div[see_more] {
  text-align: right;
  padding: 2em 0 1em;
}

div[see_more] a {

  text-decoration: none;
  color: var(--load-color);
}

span[sub] {
  color: var(--load-color);
  /* color: #fff; */
  font-size: 16px;
  font-weight: 400;
}

    text-decoration: none;
    color: var(--load-color);
}


/* fashion men  */

.shoes-section {
    border: 1px solid var(--secondary-color);
    padding: 1.5rem 1rem;
    border-radius: 8px;
    margin-top: 3rem;
}

.shoes-section h2 {
    margin-top: 0px;
    margin-bottom: 1.4em;
    color: var(--load-color);
    font-size: 1.6rem;
    font-weight: bolder;
}

.shoes-box {
    display: flex;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shoe-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.shoe-content h4 {
    color: var(--load-color);
    font-size: large;
    font-weight: bolder;
    width: 38%;
    text-align: center;
}

.shoe-content p {
    padding-bottom: 1em;
    color: var(--secondary-color);
}

