body {
    width: 100%;
}

header {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
}

section[reviews] {
    margin: auto;
    width: 80%;
}

footer {
    margin: auto;
    width: 80%;
}

main {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: 'slider slider slider slider slider' 'filter box box box box' 'reviews reviews reviews reviews reviews';
    gap: 3rem;
    justify-content: center;
}

main .hero-section {
    grid-area: slider;
    display: flex;
    height: 300px;
    width: 100%;
}

.swiper {
    height: 100%;
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-image: url(../images/image\ 37.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}