@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

:root {
  --main-color: #fefefe;
  --load-color: #151f7f;
  --secondary-color: #949efe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  position: relative;
}

.material-symbols-outlined {
  color: var(--mainColor);
}

body {
  margin: 0 auto;
  max-width: max-content;
  justify-content: center;
  font-family: sora;
}

header .head_section {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255);
  padding: 1em;
  align-items: center;
}

header .search_bar #search_bar {
  height: 2.4em;
  width: 23em;
  border-radius: 3px;
  outline: none;
  border: .6px solid rgba(128, 128, 128, .5);
  padding: 0 .5em;
}

header .head_section .logo img {
  width: 70px;
  height: 55px;
  object-fit: contain;
}

div.login {
  display: flex;
  align-content: center;
  width: 8em;
  justify-content: space-between
}

div.login>div {
  display: flex;
}

div.login>div button {
  background: none;
  border: none;
}

div.login>div a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 8px;
}

.nav-links ul li {
  /* position: relative; */
  text-decoration: none;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--main-color);
}

.nav-links ul div ul li a {
  text-decoration: none;
  width: 2rem;
  color: var(--main-color);
}

.nav-links ul div ul li {
  margin: 10px 0px;
  border-bottom: 1px solid #7c84ce;
}

.nav-links ul div ul {
  position: relative;
  top: .3rem;
  left: -40px;
  display: block;
  width: 11rem;
}

.nav-links ul div {
  display: none;
  position: absolute;
  width: 2rem;
  top: 5.7rem;
}

.nav-links ul li:hover div,
.nav-links ul li:active div {
  display: block;
}

.navLinks ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: .5em;
}

/* main seaction */
main {
  display: grid;
  grid-template-areas:
    'slider slider slider slider slider'
    'filter box box box box'
    'reviews reviews reviews reviews reviews'
  ;
  gap: 3rem;
  justify-content: center;
  font-family: 'Sora', sans-serif;
  display: grid;
  grid-template-areas:
    "slider slider slider slider slider"
    "filter box box box box"
    "reviews reviews reviews reviews reviews";
  margin-top: 2rem;
  gap: 3rem;
  justify-content: center;
}

main .hero-section {
  grid-area: slider;
  display: flex;
  width: 100%;
}

main .hero-section img {
  width: 11em;
}

aside.filter {
  grid-area: filter;
  height: fit-content;
  width: 18em;
  position: sticky;
  top: 0;
}

.filter h2 {
  color: var(--load-color);
  padding: 10px;
}

.filter p[search-text] {
  text-align: center;
  font-size: 13px;
  padding: 1.5em 0;
  color: var(--load-color);
}

.filter span {
  display: block;
  text-align: center;
}

.filter input[search] {
  padding: 0.9em;
  border-radius: 8px;
  border: 1px solid rgb(73, 70, 70);
  outline: none;
  width: 100%;
  margin-bottom: 0.6em;
}

.filter div.amount input {
  width: 100px;
  text-align: center;
  padding: .7em;
  border-radius: 10px;
  border: 1px solid rgb(73, 70, 70);
}

.filter div.amount {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.6em;
}

div[container] {
  grid-area: box;
  width: 100%;
}

section.reviews {
  grid-area: reviews;
}

h3 {
  background-color: var(--secondary-color);
  color: white;
  padding: 6px;
  border-radius: 8px;
}

.popular {
  margin-top: 1.4em;
}

.popular div a,
.stores div a {
  text-decoration: none;
  color: black;
}

.popular div,
.stores div {
  padding: 4px 15px;
}

aside.filter div[load-more] {
  background-color: var(--load-color);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

aside.filter div[load-more] a {
  color: white;
  text-decoration: none;
}

.preview .box div img {
  width: 10em;
  margin: 0 auto;
  display: block;
}

div[preview] {
  display: flex;
  flex-direction: column;
}

.preview .box div img {
  width: 13em;
  height: 10.5rem;
}

div[preview] .news-one img,
.news-two img {
  width: 100%;
}

.preview {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.box {
  border: none;
  width: 13.5rem;
  background-color: var(--main-color);
  border-radius: 8px;
}

.box h4 {
  color: var(--load-color);
  text-align: center;
  font-size: .9rem;
  font-weight: bolder;
  padding-bottom: 1em;
}

.box p {
  text-align: center;
  padding-bottom: 1em;
  color: var(--secondary-color);
}

.iPhone,
.samsung,
.tecno,
.hot-deals {
  border: 1px solid var(--secondary-color);
  padding: 1.5rem 1rem;
  border-radius: 8px;
}

.samsung,
.tecno,
.hot-deals {
  margin-top: 3rem;
}

.iPhone h2,
.samsung h2,
.tecno h2,
.hot-deals h2 {
  margin-top: 0px;
  margin-bottom: 1.4em;
  color: var(--load-color);
  font-size: 1.6rem;
  font-weight: bolder;
}

.hot-deals .box {
  width: 100%;
}

.hot-deals .box img {
  display: block;
  margin: 0 auto;
}

div[see_more] {
  text-align: right;
  padding: 2em 0 1em;
}

div[see_more] a {
  text-decoration: none;
  color: var(--load-color);
}

/*footer section*/
footer .footerContainer {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
}

div.footLogo img {
  width: 120px;
}

.Social_Icons div.Icons ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Social_Icons div.Icons ul li {
  padding: 5px;
}

div.Icons ul li {
  list-style: none;
}

section[categories] ul li,
[gadgetBrands] ul li,
[popularBrands] ul li,
[about] ul li {
  list-style: none;
  padding-top: 10px
}

section[categories] ul li a,
[gadgetBrands] ul li a,
[popularBrands] ul li a,
[about] ul li a {
  text-decoration: none;
  color: black;
}

section[bottom] {
  display: flex;
  justify-content: space-between;
}

section[bottom] .contact {
  display: flex;
  align-items: center;
}

section[bottom] .contact a {
  padding: 0 10px;
  text-decoration: none;
}

.contact div.box {
  width: 8px;
  height: 8px;
  background-color: black;
}

hr[bottom] {
  margin: 3em 0;
}

footer {
  margin-top: 5em;
  border-top: 1px solid gray;
}

.progress-container {
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7px;
  width: fit-content;
}

div.progress-bar {
  height: 8px;
  width: 16em;
  background-color: var(--secondary-color);
}

section[reviews] {
  border-top: 1px solid gray;
  max-width: 100%;
  margin-top: 2em;
}

div.progress-bar-fill {
  height: inherit;
  width: 60%;
  background-color: var(--load-color);
}

div.first {
  width: 100%;
}

div.second {
  width: 80%;
}

div.third {
  width: 60%;
}

div.fourth {
  width: 40%;
}

div.fifth {
  width: 20%;
}

.stars-container {
  width: fit-content;
}

.stars-container .star {
  display: flex;
  justify-content: right;
  gap: 5px;
  padding-top: 5px;
}

div.review-section {
  margin-top: 2em;
}

div.review-section div.overall-review {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.review-section div.overall-review .review-container div[contain] {
  display: flex;
}

i.fas {
  color: gold;
}

div.profile-pic {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}

div.profile-pic img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

div.pro-contain {
  display: flex;
  padding-top: 1em;
  gap: 1.4rem;
  margin-top: 1.5em;
}

div.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.profile h4 {
  color: var(--load-color);
}

div.time p {
  color: var(--secondary-color)
}

.head_section .logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--load-color);
}

.head_section .logo span {
  color: black;
}

div.footLogo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--load-color);
}

.footLogo span {
  color: black;
}

.footerContainer section p {
  color: var(--load-color)
}

a.compare-btn {
  text-decoration: none;
  color: white;
  background: var(--secondary-color);
  padding: .5em 1em;
  border-radius: 8px;

}

div.compare {
  padding-bottom: 2.5rem;
  text-align: center;
}