@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
:root {
    --main-color: #fefefe;
    --load-color: #151f7f;
    --secondary-color: #949efe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
    position: relative;
}

.material-symbols-outlined {
    color: var(--mainColor);
}

body {
    margin: 0 auto;
    max-width: 75%;
    justify-content: center;
    font-family: sora;
    background-color: #F6F8FA;
}

a {
    text-decoration: none;
    color: var(--load-color);
}

header .head_section {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255);
    padding: 1em;
    align-items: center;
}

.head_section .logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--load-color);
}

.head_section .logo span {
    color: black;
}

.linkPages {
    z-index: 1;
}

header .search_bar #search_bar {
    height: 2.4em;
    width: 23em;
    border-radius: 3px;
    outline: none;
    border: .6px solid rgba(128, 128, 128, .5);
    padding: 0 .5em;
}

header .head_section .logo img {
    width: 70px;
    height: 55px;
    object-fit: contain;
}

div.login {
    display: flex;
    align-content: center;
    width: 8em;
    justify-content: space-between
}

div.login>div {
    display: flex;
}

div.login>div button {
    background: none;
    border: none;
}

div.login>div a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
}

.nav-links ul li {
    /* position: relative; */
    text-decoration: none;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--main-color);
}

.nav-links ul div ul li a {
    text-decoration: none;
    width: 2rem;
    color: var(--main-color);
}

.nav-links ul div ul li {
    margin: 10px 0px;
    border-bottom: 1px solid #7c84ce;
}

.nav-links ul div ul {
    position: relative;
    top: .3rem;
    left: -40px;
    display: block;
    width: 11rem;
}

.nav-links ul div {
    display: none;
    position: absolute;
    width: 2rem;
    top: 5.7rem;
}

.nav-links ul li:hover div,
.nav-links ul li:active div {
    display: block;
}

.navLinks ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: .5em;
}

header .head_section .top-link ul li {
    padding: 0 1em 0 1em;
    display: inline-block;
}

header .head_section .top-link ul li a {
    color: rgba(0, 0, 0, 0.424);
    font-weight: 500;
    text-decoration: none;
}


/* main */

main {
    font-size: 14px;
    margin-bottom: 5rem;
}

footer {
    margin-top: 5em;
    border-top: 1px solid gray;
}

.progress-container {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7px;
    width: fit-content;
}

div.progress-bar {
    height: 8px;
    width: 16em;
    background-color: var(--secondary-color);
}

section[reviews] {
    border-top: 1px solid gray;
    max-width: 100%;
    margin-top: 2em;
}

div.progress-bar-fill {
    height: inherit;
    width: 60%;
    background-color: var(--load-color);
}

div.first {
    width: 100%;
}

div.second {
    width: 80%;
}

div.third {
    width: 60%;
}

div.fourth {
    width: 40%;
}

div.fifth {
    width: 20%;
}

.stars-container {
    width: fit-content;
}

.stars-container .star {
    display: flex;
    justify-content: right;
    gap: 5px;
    padding-top: 5px;
}

div.review-section {
    margin-top: 2em;
}

div.review-section div.overall-review {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

div.review-section div.overall-review .review-container div[contain] {
    display: flex;
}

i.fas {
    color: gold;
}

div.profile-pic {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
}

div.profile-pic img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.pro-contain {
    display: flex;
    padding-top: 1em;
    gap: 1.4rem;
    margin-top: 1.5em;
}

div.profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

div.profile h4 {
    color: var(--load-color);
}

div.time p {
    color: var(--secondary-color)
}

.head_section .logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--load-color);
}

.head_section .logo span {
    color: black;
}

div.footLogo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--load-color);
}

.footLogo span {
    color: black;
}

.footerContainer section p {
    color: var(--load-color)
}

footer .footerContainer {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
}

div.footLogo img {
    width: 120px;
}

.Social_Icons div.Icons ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Social_Icons div.Icons ul li {
    padding: 5px;
}

div.Icons ul li {
    list-style: none;
}

section[categories] ul li,
[gadgetBrands] ul li,
[popularBrands] ul li,
[about] ul li {
    list-style: none;
    padding-top: 10px
}

section[categories] ul li a,
[gadgetBrands] ul li a,
[popularBrands] ul li a,
[about] ul li a {
    text-decoration: none;
    color: black;
}

section[bottom] {
    text-align: center;
}

hr[bottom] {
    margin: 3em 0;
}

footer {
    margin-top: 5em;
    border-top: 1px solid gray;
}

.progress-container {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7px;
    width: fit-content;
}

body h2 {
    font-size: 28px;
    margin: 40px 0px;
    color: #080C33;
    text-align: center;
}

.preview .box div img {
    padding-bottom: 20px;
    width: 10em;
    margin: 0 auto;
    display: block;
}

.preview .box .hair img {
    width: 15em;
    padding-top: 30px;
}


/* 
div .preview {
    display: flex;
    flex-direction: column;
} */

.preview {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 3em;
}

.box {
    border: none;
    /* width: 13.5rem; */
    background-color: var(--main-color);
    border-radius: 8px;
}

.box h4 {
    color: #949FFE;
    text-align: center;
    font-size: .9rem;
    font-weight: bolder;
    padding-bottom: 1em;
}

.box h1 {
    color: var(--load-color);
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 0.5em;
}

.box p {
    text-align: center;
    font-weight: 700;
    text-decoration: line-through;
    padding-bottom: 0.5em;
    color: #0E1554;
}

.hot-deals {
    margin-bottom: 20em;
}

.hot-deals .box {
    width: 70%;
}

.hot-deals .box {
    display: block;
    margin: 0 auto;
}

a.compare-btn {
    text-decoration: none;
    color: white;
    background: #151F7F;
    padding: .5em 2em;
    border-radius: 8px;
}

div.compare {
    padding-bottom: 2.5rem;
    text-align: center;
}