@media screen and (max-width: 1024px) {
    #main {
        display: block;
    }

    .filter {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 2rem;
    }

    .top-link {
        display: none;
    }

    header .head_section {
        justify-content: space-between;
    }

    footer .footerContainer {
        display: grid;
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-areas:
            'a a a a'
            'b c d e';
    }

    .Social_Icons {
        grid-area: a;
    }

    section[categories] {
        grid-area: b;
    }

    section[gadgetBrands] {
        grid-area: c;
    }

    section[popularBrands] {
        grid-area: d;
    }

    section[About] {
        grid-area: e;
    }

    div.review-section div.overall-review {
        display: block;
        padding: 1rem 0;
    }

    div.icons {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0 1rem;
    }

    main section.hero-section {
        min-height: 16rem;
    }

    .hero-section__title {
        padding: 4rem 0 2rem;
    }

    div.search_bar {
        padding: 0 1rem;
    }

    /* .hair-page__box {
		width: 260px;
	} */

    .preview {
        flex-wrap: wrap;
        justify-content: center;
    }

    .progress-star>div:nth-child(1) {
        max-width: fit-content;
        width: 100%;
    }

    .progress-container {
        width: 100%;
        max-width: fit-content;
    }

    footer .footerContainer {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    div.login>div:nth-child(2) {
        display: none;
    }

    div.time p {
        display: none;
    }
}

@media screen and (max-width:425px) {
    div.login {
        display: none;
    }
}