@media screen and (max-width:1049px) {
    aside {
        display: none;
    }

    main {
        grid-template-areas: "slider slider slider slider slider"
            "box box box box box"
            "reviews reviews reviews reviews reviews";

    }

    .hamburger {
        padding: 0 1em;
    }
}




@media screen and (max-width: 864px) {

    html body {
        width: 100vh;
        margin: 0 auto;


    }

    .main-section {
        overflow-x: hidden;
    }


    main .hero-section {
        max-width: 80%;
        background-size: contain;

    }


    header {
        display: block;
        width: 100%;



    }

    .head_section .logo {
        font-size: 1rem;
        padding-right: 1em;
    }




    main .hero-section {
        /* justify-content: center; */
        width: 100%;
        display: block;
        margin: 0 auto;
    }


    .box {
        padding: 0 1em;

    }



    .preview {
        justify-content: center;
        padding: 0 4.5em;

    }

    .iPhone,
    .samsung,
    .tecno,
    .hot-deals {
        max-width: 70%;
        margin: 0 auto;

    }

    .samsung,
    .tecno,
    .hot-deals {
        margin-top: 1em;
    }

    .preview .box div img {
        width: 8em;
    }

    footer {
        width: 100%;
    }

    footer .footerContainer {
        width: fit-content;
        gap: 2rem;
        margin-left: -5rem;

    }

    section[reviews] {
        max-width: 100vh;


    }



}

@media screen and (max-width: 768px) {



    div.icons {
        display: block;
    }


    [gadgetBrands],
    [popularBrands],
    [about] {
        display: none;
    }

    footer {
        border: 2px solid black;
        margin: auto;
        width: 100%;

    }

    .footerContainer {
        /* display: flex; */
        width: 100%;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin-left: -30rem;
        padding-left: 8rem;
        border: 2px solid red;

    }

    .Social_Icons div.Icons ul {
        display: inline;
        display: flex;
    }


}

@media screen and (max-width: 600px) {
    .top-link {
        display: none;
    }

    main .hero-section {
        width: 100vh;
    }


}