@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700;800&display=swap");


:root{
    --mainColor: rgb(121,113,161);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



body{
   
    margin: 0 auto;
    width: 90vw;
    font-family: sora;

}

header .head_section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255);
    padding: .5em;
    align-items: center;
}
header .search_bar #search_bar{
    height: 2.4em;
    width: 23em;
    border-radius: 3px;
    outline: none;
    border: .6px solid rgba(128, 128, 128,.5);
    padding: 0 .5em;
}
header .head_section .logo img{
    width: 70px;
    height: 55px;
    object-fit: contain;
}

header #nav_bar{
    /* display: flex;
    justify-content: space-evenly; */
    background-color: rgb(206, 212, 218);
    padding: .5em;
   
}
header #nav_bar .navLinks ul {
    display: inline-flex;
    width: 100%;
    
    
}
 .navLinks ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: .5em;
}
.navLinks ul a{
    text-decoration: none;
    
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
}
 .navLinks ul li:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 3px;
}

 .subMenu1{
    display: none;
    
    
}



.subMenu1 ul li:last-child{
    border-bottom: none;
}

.subMenu1 ul{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 2em;
    
   
}
 .navLinks ul li:hover .subMenu1 {
   display: block;
    position: absolute;   
    z-index: 10; 
    transform: translateY(0em);
    transition: translate 5s ease-in-out;


}
.navLinks ul li:hover .subMenu1 ul.linkPages{
    display: block;
    margin: 10px;
    transform: translateY(0em);
    transition: translate 5s ease-in-out;
}
div[promotions]{
    width: 100%;
    background-color: var(--mainColor);
   
}

div[promotions] img{
    width: 50%;
    display: block;
  
  margin-left: auto;
  margin-right: auto;

}
div[promotions] figcaption{
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
}
div[promotions] p{
    text-align: right;
}
div[comparisons]{
    display: flex;
    width: 100%;
    /* align-items: center; */
   background-color: var(--mainColor);
    justify-content: space-around;
}
div[comparisons] figcaption{
    margin-top: 1em;
}
div[comparisons] img{
    width: 15em;
    height: 15em;
    margin-top: 10px;
    object-fit: cover;
    object-position: center;
    
}

main .promotionContainer{
    display: flex;
    justify-content: space-between;
   gap: 2em;
    padding :.5em 0;
  
}

/*for filter*/


aside div.filter{
    background-color: #ccc;
    width: 20%;
    padding: 4px;
    margin-top: .4rem;
}

input[price]{
    width: 4em;
    height: 2em;
    margin-top: .35rem;
    padding: 2px;
}
input[search]{
    width: 100%;
    height: 2rem;
}
p.text{
    text-align: center;
    padding: 10px;
    font-size: calc(2rem/3);
}

div[priceText]{
    padding: 5px 0px;
    margin-top: .35rem;
    background-color: white;
   
}

div.input{
 
    text-align: center;
}

aside .filter ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
aside .filter ul li a{
    text-decoration: none;
    padding: 0px 5px;
    color: black;
}
aside .filter div.brands{
    margin:.9rem 0;
   
}
aside .filter div.brands h4{
    background-color: rgb(54, 52, 52);
    padding: 8px 5px;
}
aside .filter div.brands >span{
   
    text-align: right;
    display: block;
    
}
aside .filter div.stores{
    margin: .9rem 0;
   
}
aside .filter div.stores h4{
    background-color: rgb(54, 52, 52);
    padding: 8px 5px;
}
aside .filter div.stores >span{
   
    text-align: right;
    display: block;
    
}


hr{
    margin:4em 0;
}
hr[bottom]{
    margin-bottom: 2em;
}

footer .footerContainer{
    display: flex;
    justify-content: space-between ;
}
div.footLogo img{
    width: 120px;
}

.Social_Icons div.Icons ul{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Social_Icons div.Icons ul li{
    padding: 5px;
}

div.Icons ul li{
    list-style: none;
}

section[categories] ul li, [gadgetBrands] ul li, [popularBrands] ul li, [about] ul li {
    list-style: none;
    padding-top: 10px
    
}

section[categories] ul li a, [gadgetBrands] ul li a, [popularBrands] ul li a, [about] ul li a{
    text-decoration: none;
    color:black;

}
section[bottom]{
    display: flex;
    justify-content: space-between;
}

section[bottom] .contact{
    display: flex;
    align-items: center;
}
section[bottom] .contact a{
    padding: 0 10px;
    text-decoration: none;
}
.contact div.box{
    width: 8px;
    height: 8px;
    background-color: black;
    
}

/* hair home page additional style */
.hair-preview {
	justify-content: space-around;
}

.hair-page__box {
	width: 211px;
}

.hair-page__box div {
	text-align: center;
}

.hair-page__box img {
	width: 144px !important;
}

.hot-deal-img img {
	width: 183px;
}
