@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

:root {
  --main-color: #fefefe;
  --load-color: #151f7f;
  --secondary-color: #949efe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  position: relative;
}

.material-symbols-outlined {
  color: var(--mainColor);
}

body {
  margin: 0 auto;
  max-width: 78%;
  justify-content: center;
  font-family: sora;
  background-color: #f6f8fa;
}

header .head_section {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255);
  padding: 1em;
  align-items: center;
}

.linkPages{
  z-index: 1;
}
header .search_bar #search_bar {
  height: 2.4em;
  width: 23em;
  border-radius: 3px;
  outline: none;
  border: .6px solid rgba(128, 128, 128, .5);
  padding: 0 .5em;
}

header .head_section .logo img {
  width: 70px;
  height: 55px;
  object-fit: contain;
}

div.login {
  display: flex;
  align-content: center;
  width: 8em;
  justify-content: space-between
}

div.login>div {
  display: flex;
}

div.login>div button {
  background: none;
  border: none;
}

div.login>div a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 8px;
}

.nav-links ul li {
  /* position: relative; */
  text-decoration: none;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--main-color);
}

.nav-links ul div ul li a {
  text-decoration: none;
  width: 2rem;
  color: var(--main-color);
}

.nav-links ul div ul li {
  margin: 10px 0px;
  border-bottom: 1px solid #7c84ce;
}

.nav-links ul div ul {
  position: relative;
  top: .3rem;
  left: -40px;
  display: block;
  width: 11rem;
}

.nav-links ul div {
  display: none;
  position: absolute;
  width: 2rem;
  top: 5.7rem;
}

.nav-links ul li:hover div,
.nav-links ul li:active div {
  display: block;
}

.navLinks ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: .5em;
}

header .head_section .top-link ul li {
  padding: 0 1em 0 1em;
  display: inline-block;
}

header .head_section .top-link ul li a {
  color: rgba(0, 0, 0, 0.424);
  font-weight: 500;
  text-decoration: none;
}

.head_section .logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--load-color);
  }
  
  .head_section .logo span {
    color: black;
  }
  
  .flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .frontend{
    margin-top: 4rem;
  }

  .backend{
    margin-top: 4rem;
    margin-bottom: 3rem;
  }





@media (max-width:560px) {
    
    h3{
        font-size: .8rem;
        font-weight: bolder;
    }
    p{
        font-size: .7rem;
    }
}