{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href=" {% static '../css/about.css' %} " />
    <link rel="stylesheet" href=" {% static '../css/fashion.css' %} ">
    <link rel="stylesheet" href=" {% static '../css/responsive.css' %} ">
     <script src=" {% static '../script/sidebar.js' %} " defer></script>
  </head>
  <body>
    <header>
      <section class="head_section">
                <div class="icons">
          <div id="menu-bar" class="fas fa-bars"></div>
        </div>
        <nav class="navbar">
          <div class="user">
            <img src=" {% static '../images/model.png' %} " alt="user image" />

            <h4>John Doe</h4>
          </div>

          <div class="links">
            <a href=" {% static './index.html' %} ">Home</a>

            <a href=" {% static './AboutUs.html' %} ">About</a>

            <a href=" {% static './team.html' %} ">Team</a>

            <a href=" {% static './faq.html' %} ">FAQ</a>

            <a href=" {% static './contactUs.html' %} ">Contact Us</a>
          </div>

          <div id="close" class="fas fa-times"></div>
        </nav>
          <div class="logo">
             <a href=" {% static '../template/index.html' %} "> Wallet<span>friendly</span></a>
          </div>
          
          <div class="top-link">
              <ul>
                <li><a href=" {% static '../template/AboutUs.html' %} ">About</a></li>
                <li><a href=" {% static '../template/team.html' %} ">Team</a></li>
                <li><a href=" {% static '../template/faq.html' %} ">FAQs</a></li>
                <li><a href=" {% static '../template/contactUs.html' %} ">Contact</a></li>
              </ul>
          </div>

          <div class="login">

              <div>
                  <span class="material-symbols-outlined">person</span>
                  <button class="signInButton"> <a href=" {% static '../template/Login.html' %} "> Login </a></button>
              </div>
              <div>
                  <span class="material-symbols-outlined">shopping_cart</span>
              </div>



          </div>

      </section>



      <nav id="nav_bar">
        <div class="nav-links nav-list">
            <ul>
                <li fashion>
                    <a href=" {% static '../template/fashion.html' %} "> Fashion</a>
                    <div class="subMenu1">
                        <ul class="linkPages">
                            <li><a href=" {% static '../template/fashionMen.html' %} ">Men's Clothing</a></li>
                            <li><a href=" {% static '../template/fashionWomen.html' %} ">Women's Clothing</a></li>
                            <li><a href=" {% static '../template/fashionMen.html' %} ">Men's Shoes</a></li>
                            <li><a href=" {% static '../template/fashionWomen.html' %} ">Women's Shoes</a></li>
                        </ul>
                    </div>
                </li>

                <li gadget>
                    <a href=" {% static '../template/gadgetHomepage.html' %} "> Gadget</a>

                    <div class="subMenu1">
                        <ul class="linkPages">
                            <li><a href=" {% static '../template/gadgetPhones.html' %} ">Mobile Phones</a></li>
                            <li><a href=" {% static '../template/gadgetLaptops.html' %} ">Laptops</a></li>
                            <li><a href=" {% static '../template/gadgettv.html' %} ">Smart TVs</a></li>
                        </ul>
                    </div>
                </li>
                <li hair>
                    <a href=" {% static '../template/hairHomePage.html' %} "> Hair</a>

                    <div class="subMenu1">
                        <ul class="linkPages">
                            <li><a href=" {% static '../template/humanHair.html' %} ">Human Hair</a></li>
                            <li><a href=" {% static '../template/boneStraight.html' %} ">Bone Straight</a></li>
                            <li><a href=" {% static '../template/hairAccessories.html' %} ">Accessories</a></li>
                        </ul>
                    </div>
                </li>
                <li compare>
                    <a href=" {% static '' %} "> Compare</a>
                    <div class="subMenu1">
                        <ul class="linkPages">
                            <li><a href=" {% static '' %} ">By Price</a></li>
                            <li><a href=" {% static '' %} ">By Brand</a></li>
                            <li><a href=" {% static '' %} ">By Rating</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
  </header>
    <div>
      <div>
        <div>
          <h2 class="heading">ABOUT US</h2>
        </div>
        <div class="main-para">
          <p>
            Every day at WalletFriendly, we help millions of shoppers on the web
            research, compare prices and buy online in a matter of clicks.
            Whether it’s the latest Adidas sneakers or the latest Samsung
            Galaxy, you will find it on WalletFriendly.com. In order to make the
            best decision, it’s good to have all the facts at your fingertips.
            We are one of the world’s best price and product comparison
            services, with one single goal – to guide consumers to smarter
            buying decisions.
          </p>
          <p>
            Our range of services are designed to ensure optimum levels of
            convenience and customer satisfaction with the retail process; these
            services include our lowest price guarantee, dedicated customer
            service support and many other premium services.
          </p>
          <p>
            Did you know that 8 out of 10 shoppers landing on WalletFriendly
            have done their online homework? And that over 73% of shoppers are
            more likely to buy from an unknown retailer if seen on
            WalletFriendly
          </p>
          <p>
            Quickly search for the lowest price. A wide variety of leading
            merchants, even encompassing local inventory. Search for products by
            Name, part number, and many more. Acess local coupons and deals for
            a wide range of nearby popular stores and products.
          </p>
          <p>
            Again, thank you for using our service. Our goal is to help you find
            the best products at the best prices, no matter where you are.
          </p>
          <p>
            Have a comment or suggestion? Contact us. We value your feedback.
          </p>
        </div>
      </div>

      <div class="contact-page">
        <div>
          <div>
            <h2 class="heading" id="heading">CONTACT US</h2>
            <p id="para">We're here for you! How can we help you?</p>
          </div>
          <form action="" method="">
            <input type="text" name="name" placeholder="Enter your name" />
            <input
              type="email"
              name="email"
              placeholder="Enter your email address "
            />
            <textarea
              name="comment"
              id=""
              placeholder="What can we do for you?"
              cols="30"
              rows="10"
            ></textarea>
            <input type="submit" value="SUBMIT" id="submit" />
          </form>
        </div>
        <div class="address">
          <div>
            <span class="material-symbols-outlined">location_on</span>Zuri Headquaters Avenue
          </div>
          <div>
            <span class="material-symbols-outlined"> mail </span
            >Team24Project@zuri.com
          </div>
          <div>
            <span class="material-symbols-outlined"> phone_in_talk </span
            >407-203-304
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <h2 class="heading">JOBS</h2>
          </div>
          <div class="para">
            <p>
              At WalletFriendly we believe in giving back to the community that
              empowered us by adding and creating value anywhere and at when
              due, relation to this, we have a few vacancies up for the public
              to be employed into an organization that offers equitable
              work/life balance, below are some of the vacancies available;
            </p>
          </div>
          <div>
            <ul class="ul">
              <li>UI/UX DESIGNER</li>
              <li>FRONT END DEVELOPER</li>
              <li>BACK END DEVELOPER</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <section reviews>
      <div class="review-section">
          <h2>Ratings and Reviews</h2>

          <div class="overall-review">
              <div class="numbers">
                  <p>4.5 out of 5</p>
              </div>

              <div class="review-container">
                  <div contain>
                      <div class="stars-container">
                          <div class="star">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <div class="star">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <div class="star">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <div class="star">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <div class="star">
                              <i class="fas fa-star"></i>
                          </div>
                      </div>
                      <div class="progress-container">
                          <div class="progress-bar">
                              <div class="progress-bar-fill first"></div>
                          </div>
                          <div class="progress-bar">
                              <div class="progress-bar-fill second"></div>
                          </div>
                          <div class="progress-bar">
                              <div class="progress-bar-fill third"></div>
                          </div>
                          <div class="progress-bar">
                              <div class="progress-bar-fill fourth"></div>
                          </div>
                          <div class="progress-bar">
                              <div class="progress-bar-fill fifth"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="profile">
              <div class="pro-contain">
                  <div class="profile-pic">
                      <img src=" {% static '../images/model.png' %} " alt="profile-pic" />
                  </div>
                  <div class="content">
                      <div class="star">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                      <p>Joe</p>
                      <p>joelawrence@gmail.com</p>
                      <address>California, USA</address>
                      <h4>Great App for shopping</h4>
                  </div>
              </div>
              <div class="time">
                  <p>2 days ago...</p>
              </div>
          </div>
      </div>
      <div class="profile">
          <div class="pro-contain">
              <div class="profile-pic">
                  <img src=" {% static '../images/model1.png' %} " alt="profile-pic" />
              </div>
              <div class="content">
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
                  <p>Mary</p>
                  <p>maryrandy@gmail.com</p>
                  <address>Lagos, Nigeria</address>
                  <h4>I've been using this app for so long and I love it</h4>
              </div>
          </div>
          <div class="time">
              <p>15 days ago...</p>
          </div>
      </div>
      <div class="profile">
          <div class="pro-contain">
              <div class="profile-pic">
                  <img src=" {% static '../images/model2.png' %} " alt="profile-pic" />
              </div>
              <div class="content">
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
                  <p>Bimbo</p>
                  <p>missbimbo@gmail.com</p>
                  <address>Abuja, Nigeria</address>
                  <h4>
                      I love it, very easy to use and have lots of affordable products
                  </h4>
              </div>
          </div>
          <div class="time">
              <p>1 month ago...</p>
          </div>
      </div>
  </section>
  <footer>
      <section class="footerContainer">

          <section class="Social_Icons">
              <div class="footLogo">
                  Wallet<span>friendly</span>
              </div>
              <div class="Icons">
                  <ul>
                      <li> <a href="#"><img src=" {% static '../images/social media icon/mail.svg' %} " alt="mail icon"></a> </li>
                      <li> <a href="#"> <img src=" {% static '../images/social media icon/twitter.svg' %} " alt="twitter icon"> </a>
                      </li>
                      <li> <a href="#"> <img src=" {% static '../images/social media icon/facebook.svg' %} " alt="facebook icon"> </a>
                      </li>
                      <li> <a href="#"> <img src=" {% static '../images/social media icon/youtube.svg' %} " alt="youtube icon"> </a>
                      </li>
                  </ul>
                  <ul>
                      <li> <a href="#"> <img src=" {% static '../images/social media icon/instagram.svg' %} " alt="instagram icon"></a>
                      </li>
                      <li> <a href="#"> <img src=" {% static '../images/social media icon/telegram.svg' %} " alt="telegram icon"> </a>
                      </li>
                      <li> <a href="#"> <img src=" {% static '../images/social media icon/tiktok.svg' %} " alt="tiktok icon"> </a>
                      </li>
                      <li> <a href="#"> <img src=" {% static '../images/social media icon/reddit.svg' %} " alt="reddit icon"></a> </li>
                  </ul>
          </section>
          <section categories>
              <p><strong>Categories</strong></p>
              <ul>
                  <li><a href=" {% static '../template/hairAccessories.html' %} ">Accessories</a></li>
                  <li><a href=" {% static '../template/boneStraight.html' %} ">Bone Straight</a></li>
                  <li><a href=" {% static '../template/humanHair.html' %} ">Human Hairs</a></li>
                  <li><a href=" {% static '../template/gadgetLaptops.html' %} ">Laptops</a></li>
                  <li><a href=" {% static '../template/gadgetPhones.html' %} ">Mobile Phones</a></li>
                  <li><a href=" {% static '../template/fashionMen.html' %} ">Men's Wear</a></li>
                  <li><a href=" {% static '../template/fashionMen.html' %} ">Men's Shoes</a></li>
                  <li><a href=" {% static '../template/fashionWomen.html' %} ">Women's Wear</a></li>
                  <li><a href=" {% static '../template/fashionWomen.html' %} ">Women's Shoes</a></li>
                  <li><a href=" {% static '../template/gadgettv.html' %} ">Smart TVs</a></li>
              </ul>
          </section>
          <section gadgetBrands>
              <p><strong>Gadgets Brands</strong></p>
              <ul>
                  <li><a href=" {% static '../template/gadgettv.html' %} ">Apple TVs</a></li>
                  <li><a href=" {% static '../template/gadgetLaptops.html' %} ">Dell</a></li>
                  <li><a href=" {% static '../template/gadgettv.html' %} ">Hisense</a></li>
                  <li><a href=" {% static '../template/gadgettv.html' %} ">Infinix Smart TVs</a></li>
                  <li><a href=" {% static '../template/gadgetPhones.html' %} ">iPhones</a></li>
                  <li><a href=" {% static '../template/gadgetPhones.html' %} ">Oppo</a></li>
                  <li><a href=" {% static '../template/gadgetPhones.html' %} ">Samsung</a></li>
                  <li><a href=" {% static '../template/fashion.html' %} ">Spectre</a></li>
                  <li><a href=" {% static '../template/fashionMen.html' %} ">Polystar</a></li>
                  <li><a href=" {% static '../template/fashionMen.html' %} ">Watches</a></li>
              </ul>
          </section>
          <section popularBrands>
              <p><strong>Popular Brands</strong></p>
              <ul>
                  <li><a href="http://www.amazon.com/" target="_blank">Amazon</a></li>
                  <li><a href="https://www.apple.com/ng/" target="_blank">Apple</a></li>
                  <li><a href="http://www.google.com/" target="_blank">Google</a></li>
                  <li><a href="https://www.lewisstores.co.za/" target="_blank">Lewi's</a></li>
                  <li><a href="https://www.microsoft.com/en-ng" target="_blank">Microsoft</a></li>
                  <li><a href="https://www.7up.com/" target="_blank">7up</a></li>
                  <li><a href="https://www.zara.com/" target="_blank">Zara</a></li>

              </ul>
          </section>
          <section About>
              <p><strong>About</strong></p>
              <ul>
                  <li><a href="#">About WalletFriendly</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href=" {% static '../template/team.html' %} ">Team</a></li>
                  <li><a href="#">Jobs</a></li>
                  <li><a href=" {% static '../template/contactUs.html' %} ">Contact Us</a></li>
                  <li><a href=" {% static '../template/compareGadgets.html' %} ">Compare Prices</a></li>
                  <li><a href=" {% static '../template/trendingNews.html' %} ">Latest News</a></li>
                  <li><a href=" {% static '../template/review.html' %} ">Reviews</a></li>
                  <li><a href=" {% static '../template/documentation.html' %} ">Documentation</a></li>
              </ul>
          </section>
      </section>


      <hr bottom>

      <section bottom>

          <div class="bottom">
              <p> <strong>Copyright 2022,</strong>WalletFriendly © <strong>All Rights Reserved</strong></p>
          </div>
      </section>

  </footer>

  
  </body>
</html>
