<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walletfriendly</title>
   
    <link rel="stylesheet" href="/css/gadgetPhones.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <header>

      <section class="head_section">
          <div class="logo">
            Wallet<span>friendly</span>
          </div>
          <div class="search_bar">
              <input type="search" placeholder="Search Product, brand" name="search" id="search_bar">
              
          </div>
          <div class="login">

              <div>
              <span class="material-symbols-outlined">person</span>     
              <button class="signInButton">  <a href="./Login.html"> Login </a></button>
              </div>
              <div>
                  <span class="material-symbols-outlined">shopping_cart</span>
              </div>


            
          </div>

      </section>



      <nav id="nav_bar">

          <div class="nav-links">

          <ul>
            
              <li fashion> <a href="./fashion.html"> Fashion</a>
                  <div class="subMenu1">
                          <ul class="linkPages">
                              <li><a href="./fashionMen.html">Men's Clothing</a></li>
                              <li><a href="./fashionWomen.html">Women's Clothing</a></li>
                              <li><a href="./fashionMen.html">Men's Shoes</a></li>
                              <li><a href="./fashionWomen.html">Women's Shoes</a></li>
                          </ul>


                      </div>
                  </li>



              <li gadget> <a href="./gadgetHompage.html"> Gadget</a>
              
                       <div class="subMenu1">
                          <ul class="linkPages">
                              <li><a href="./gadgetPhones.html">Mobile Phones</a></li>
                              <li><a href="./gadgetLaptops.html">Laptops</a></li>
                              <li><a href="./gadgettv.html">Smart TVs</a></li>

                          </ul>


                  </div> 
              
              </li>
              <li hair> <a href="./hairHomePage.html"> Hair</a>
              
                       <div class="subMenu1">
                          <ul class="linkPages">
                              <li><a href="./hairHomePage.html">Human Hair</a></li>
                              <li><a href="./boneStraight.html">Bone Straight</a></li>
                              <li><a href="./hairAccessories.html">Accessories</a></li>

                          </ul>


                  </div> 
              
              </li>
          
              <li compare> <a href="#"> Compare</a>
                 <div class="subMenu1">
                          <ul class="linkPages">
                              <li><a href="#">By Price</a></li>
                              <li><a href="#">By Brand</a></li>
                              <li><a href="#">By Rating</a></li>

                          </ul>


                  </div> 
              </li>
          </ul>
      </div>

      </nav>

  </header>
  
  <main>
      <section class="hero-section">
        <img src="../images/boneStraight/Rectangle 10.png" alt="" />
        <img src="../images/boneStraight/Rectangle 11.png" alt="" />
        <img src="../images/boneStraight/Rectangle 12.png" alt="" />
        <img src="../images/boneStraight/Rectangle 13.png" alt="" />
        <img src="../images/boneStraight/Rectangle 14.png" alt="" />
        <img src="../images/boneStraight/Rectangle 9.png" alt="" />
      </section>

      <aside class="filter">
        <h2>Filters</h2>
        <input search type="text" placeholder="Search A-Z" name="" id="" />
        <p search-text>
          Search Alphabetically or apply some filters <br />
          from below
        </p>
        <span>Search A-Z</span>

        <h2>Price</h2>
        <div class="amount">
          <input type="tel" placeholder="Min" name="min" id="min" />
          to
          <input type="tel" placeholder="Max" name="max" id="max" />
        </div>

        <div class="popular">
          <h3>Popular Brands</h3>
          <div>
            <a href="#"> Apple </a>
          </div>
          <div>
            <a href="#">Samsung</a>
          </div>

          <div><a href="#">See more...</a></div>
        </div>

        <div class="stores">
          <h3>Stores</h3>
          <div>
            <a href="#"> Konga </a>
          </div>
          <div>
            <a href="#">Jumia</a>
          </div>
          <div>
            <a href="#">AliExpress</a>
          </div>
          <div><a href="#">See more...</a></div>
        </div>
        <div load-more><a href="">Load more</a></div>
      </aside>

      <div container>
        <section class="iPhone main-content">
          <h2>Single Drawn</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 24.png" alt="" />
              </div>
              <div>
                <h4>Cocoa Crush NAITA Royal Wig</h4>
                <p>N140,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 11.png" alt="" />
              </div>
              <div>
                <h4>Layered Bone Straight Wig</h4>
                <p>N170,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 25.png" alt="" />
              </div>
              <div>
                <h4>Cocoa Crush NAITA Royal blue</h4>
                <p>N170,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="samsung main-content">
          <h2>Double Drawn</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 10.png" alt="" />
              </div>
              <div>
                <h4>Bone straight Closure Wig</h4>
                <p>N108,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 26.png" alt="" />
              </div>
              <div>
                <h4>Double Drawn Kim K Wig</h4>
                <p>N200,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 14.png" alt="" />
              </div>
              <div>
                <h4>Bone straight Hair Bundles</h4>
                <p>N22,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="tecno main-content">
          <h2>Super Double Drawn</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 34.png" alt="" />
              </div>
              <div>
                <h4>Bone Straight with bangs</h4>
                <p>N255,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 33.png" alt="" />
              </div>
              <div>
                <h4>Bone Straight Hair Bundles</h4>
                <p>N350,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 35.png" alt="" />
              </div>
              <div>
                <h4>Drawn Blunt Cut Closure Wig</h4>
                <p>N375,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="hot-deals main-content">
          <h2>Hot Deals</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 36.png" alt="" />
              </div>
              <div>
                <p>45% discount</p>
                <h4>Straightener + Hair Oil</h4>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="../images/boneStraight/image 37.png" alt="" />
              </div>
              <div>
                <p>40% discount</p>
                <h4>Pixie cut Frontal Lace Wig</h4>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <section class="footerContainer">

      <section class="Social_Icons">
          <div class="footLogo">
              Wallet<span>friendly</span>
          </div>
          <div class="Icons">
              <ul>
                  <li> <a href="#"><img src="../images/social media icon/mail.svg" alt=""></a> </li>
                  <li> <a href="#"> <img src="../images/social media icon/twitter.svg" alt="">  </a> </li>
                  <li> <a href="#"> <img src="../images/social media icon/instagram.svg" alt=""> </a> </li>
                  <li> <a href="#"> <img src="../images/social media icon/youtube.svg" alt=""> </a> </li>
              </ul>
                <ul>
                  <li> <a href="#"> <img src="../images/social media icon/reddit.svg" alt=""></a> </li>
                  <li> <a href="#"> <img src="../images/social media icon/telegram.svg" alt="">  </a> </li>
                  <li> <a href="#"> <img src="../images/social media icon/tiktok.svg" alt="">  </a> </li>
                  <li> <a href="#"> <img src="../images/social media icon/facebook.svg" alt=""></a> </li>
              </ul>
          </section>
             <section categories>
          <p><strong>Categories</strong></p>
          <ul>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Bone Straight</a></li>
              <li><a href="#">Human Hairs</a></li>
              <li><a href="#">Laptops</a></li>
              <li><a href="#">Mobile Phones</a></li>
              <li><a href="#">Men's Wear</a></li>
              <li><a href="#">Men's Shoes</a></li>
              <li><a href="#">Women's Wear</a></li>
              <li><a href="#">Women's Shoes</a></li>
              <li><a href="#">Smart TVs</a></li>
          </ul>
      </section>
          <section gadgetBrands>
              <p><strong>Gadgets Brands</strong></p>
              <ul>
                  <li><a href="#">Apple TVs</a></li>
                  <li><a href="#">Dell</a></li>
                  <li><a href="#">Hisense</a></li>
                  <li><a href="#">Infinix Smart TVs</a></li>
                  <li><a href="#">iPhones</a></li>
                  <li><a href="#">Oppo</a></li>
                  <li><a href="#">Samsung</a></li>
                  <li><a href="#">Spectre</a></li>
                  <li><a href="#">Polystar</a></li>
                  <li><a href="#">Watches</a></li>
              </ul>
          </section>
          <section popularBrands>
              <p><strong>Popular Brands</strong></p>
              <ul>
                  <li><a href="#">Amazon</a></li>
                  <li><a href="#">Apple</a></li>
                  <li><a href="#">Google</a></li>
                  <li><a href="#">Lewi's</a></li>
                  <li><a href="#">Microsoft</a></li>
                  <li><a href="#">7up</a></li>
                  <li><a href="#">Zara</a></li>

              </ul>
          </section>
          <section About>
              <p><strong>About</strong></p>
              <ul>
                  <li><a href="#">About WalletFriendly</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Jobs</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Compare Prices</a></li>
                  <li><a href="#">Latest News</a></li>

              </ul>
          </section>
      </section>


      <hr bottom>

      <section bottom>

          <div class="bottom">
              <p> <strong>Copyright 2022,</strong>WalletFriendly © <strong>All Rights Reserved</strong></p>
          </div>
          <div class="contact">
              <a href="#">Contact Us</a>
              <div class="box"></div>
              <a href="#">Privacy Policy</a>
              <div class="box"></div>
              <a href="#"> Terms of Service</a>
          </div>
      </section>

  </footer>
</body>
</html>
