<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gadgets Comparison</title>
    <link rel="stylesheet" href="../css/hairhomepage.css" />
    <link rel="stylesheet" href="../css/comparePage.css" />
    <script src="../script/sidebar.js" defer></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body id="login-body-content">
    <header>
      <section class="head_section">
        <div class="icons">
          <div id="menu-bar" class="fas fa-bars"></div>
        </div>
        <nav class="navbar">
          <div class="user">
            <img src="../images/model.png" alt="" />

            <h4>John Doe</h4>
          </div>

          <div class="links">
            <a href="./index.html">Home</a>

            <a href="./AboutUs.html">About</a>

            <a href="./team.html">Team</a>

            <a href="./faq.html">FAQ</a>

            <a href="./contactUs.html">Contact Us</a>
          </div>

          <div id="close" class="fas fa-times"></div>
        </nav>
        <div class="logo">Wallet<span>friendly</span></div>
        <!-- <div class="search_bar">
					<input
						type="search"
						placeholder="Search Product, brand"
						name="search"
						id="search_bar"
					/>
				</div> -->
        <div class="top-link">
          <ul>
            <li><a href="./AboutUs.html">About</a></li>
            <li><a href="./team.html">Team</a></li>
            <li><a href="./faq.html">FAQs</a></li>
            <li><a href="../template/contactUs.html">Contact</a></li>
          </ul>
        </div>
        <div class="login">
          <div>
            <span class="material-symbols-outlined">person</span>
            <button class="signInButton">
              <a href="../template/Login.html"> Login </a>
            </button>
          </div>
          <div>
            <span class="material-symbols-outlined">shopping_cart</span>
          </div>
        </div>
      </section>

      <nav id="nav_bar">
        <div class="nav-links nav-list">
          <ul>
            <li fashion>
              <a href="../template/fashion.html"> Fashion</a>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="../template/fashionMen.html">Men's Clothing</a>
                  </li>
                  <li>
                    <a href="../template/fashionWomen.html">Women's Clothing</a>
                  </li>
                  <li>
                    <a href="../template/fashionMen.html">Men's Shoes</a>
                  </li>
                  <li>
                    <a href="../template/fashionWomen.html">Women's Shoes</a>
                  </li>
                </ul>
              </div>
            </li>

            <li gadget>
              <a href="#"> Gadget</a>

              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="../template/gadgetPhones.html">Mobile Phones</a>
                  </li>
                  <li>
                    <a href="../template/gadgetLaptops.html">Laptops</a>
                  </li>
                  <li>
                    <a href="../template/gadgettv.html">Smart TVs</a>
                  </li>
                </ul>
              </div>
            </li>
            <li hair>
              <a href="../template/hairHomePage.html"> Hair</a>

              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="../template/humanHair.html">Human Hair</a>
                  </li>
                  <li>
                    <a href="../template/boneStraight.html">Bone Straight</a>
                  </li>
                  <li>
                    <a href="../template/hairAccessories.html">Accessories</a>
                  </li>
                </ul>
              </div>
            </li>
            <li compare>
              <a href="../template/compareGadgets.html"> Compare</a>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="../template/compareGadgets.html">By Price</a>
                  </li>
                  <li>
                    <a href="../template/compareGadgets.html">By Brand</a>
                  </li>
                  <li>
                    <a href="../template/compareGadgets.html">By Rating</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section id="Compare-main" role="main">
      <div class="compare-drop">
        <div class="nav-links compare">
          <ul>
            <li compare>
              <a class="title" href="#"> Gadgets </a>
              <div class="subMenu1">
                <ul class="linkPages compare">
                  <li><a href="#">Mobiles</a></li>
                  <li><a href="#">Laptops</a></li>
                  <li><a href="#">Smart Tvs</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div class="compare__product-box">
          <div class="product-box--main">
            <p class="product-box__text">Add Product</p>
            <div class="compare__checkbox"></div>
          </div>

          <div class="product-box--main">
            <p class="product-box__text">Remove Product</p>
            <div class="compare__checkbox"></div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h1 class="compare-product--title">
        <div class="compare__product-text">Apple iPhone 13 Pro</div>
        <div class="compare__product-text">Vs</div>
        <div class="compare__product-text">Samsung S22 Ultra</div>
      </h1>
      <div class="compare-product--content">
        <div class="compare-product__box">
          <div class="compare-product__img-box">
            <img
              src="../images/gadget and phones/iphone 13 pro max 1.png"
              alt=""
              class=""
            />
          </div>
          <p class="compare__product__text">
            Apple iPhone 13 Pro <br />
            (Max 5G Dial SIM 6GB RAM)
          </p>
          <div class="compare-product__rating">
            <img src="../images/social media icon/4star.svg" alt="" class="" />
          </div>
          <p class="compare-product__price-text">£924.00</p>
        </div>

        <div div class="compare-product__box">
          <div class="compare-product__img-box">
            <img
              src="../images/gadget and phones/s22-ultra.jpeg"
              alt=""
              class=""
            />
          </div>
          <p class="compare__product__text">
            Apple iPhone 13 Pro <br />
            (Max 5G Dial SIM 6GB RAM)
          </p>
          <div class="compare-product__rating">
            <img src="../images/social media icon/4star.svg" alt="" class="" />
          </div>
          <p class="compare-product__price-text">£924.00</p>
        </div>
      </div>
    </section>

    <section>
      <h2 class="">Features</h2>
      <div class="features-grid">
        <div class="features__container">
          <div class="features__content">
            <div class="features__text">Release year</div>
            <div class="features__text">Release year</div>
          </div>
          <div class="features__content">
            <div class="features__text">Height</div>
            <div class="features__text">160.8mm</div>
          </div>
          <div class="features__content">
            <div class="features__text">width</div>
            <div class="features__text">78.1m</div>
          </div>
          <div class="features__content">
            <div class="features__text">Common Brand Colour</div>
            <div class="features__text">Ash</div>
          </div>
          <div class="features__content">
            <div class="features__text">Warranty</div>
            <div class="features__text">18months</div>
          </div>
          <div class="features__content">
            <div class="features__text">18months</div>
            <div class="features__text">Yes</div>
          </div>
          <div class="features__content">
            <div class="features__text">Operating System</div>
            <div class="features__text">Apple IOS 15</div>
          </div>
          <div class="features__content">
            <div class="features__text">RAM size</div>
            <div class="features__text">6GB</div>
          </div>
          <div class="features__content">
            <div class="features__text">Storage</div>
            <div class="features__text">256Gb</div>
          </div>
          <div class="features__content">
            <div class="features__text">Battery</div>
            <div class="features__text">4352 mAh</div>
          </div>
          <div class="features__content">
            <div class="features__text">No of Rear Camera</div>
            <div class="features__text">3</div>
          </div>
          <div class="features__content">
            <div class="features__text">5G LTE</div>
            <div class="features__text">Yes</div>
          </div>
          <div class="features__content">
            <div class="features__text">Dual Sim</div>
            <div class="features__text">Yes</div>
          </div>
          <div class="features__content">
            <div class="features__text">Front Camera</div>
            <div class="features__text">yes</div>
          </div>
          <div class="features__content">
            <div class="features__text">Security</div>
            <div class="features__text">Face scanner</div>
          </div>
          <div class="features__content">
            <div class="features__text">Processor</div>
            <div class="features__text">3.22GHz</div>
          </div>
          <div class="features__content">
            <div class="features__text">Memory Card Reader</div>
            <div class="features__text">No</div>
          </div>
          <div class="features__content">
            <div class="features__text">
              Maximum Resolution(Highest Frame Rate)
            </div>
            <div class="features__text">1920x1080 (HD 1080)pixels</div>
          </div>
          <div class="features__content">
            <div class="features__text">Bluetooth Version</div>
            <div class="features__text">5.0</div>
          </div>
          <div class="features__content">
            <div class="features__text">Data connector</div>
            <div class="features__text">Lightning</div>
          </div>
          <div class="features__content">
            <div class="features__text">Built-in-Wireless Charging</div>
            <div class="features__text">Yes</div>
          </div>
        </div>
        <div class="features__container">
          <div class="features__content">
            <div class="features__text">Release year</div>
            <div class="features__text">Release year</div>
          </div>
          <div class="features__content">
            <div class="features__text">Height</div>
            <div class="features__text">160.8mm</div>
          </div>
          <div class="features__content">
            <div class="features__text">width</div>
            <div class="features__text">78.1m</div>
          </div>
          <div class="features__content">
            <div class="features__text">Common Brand Colour</div>
            <div class="features__text">Ash</div>
          </div>
          <div class="features__content">
            <div class="features__text">Warranty</div>
            <div class="features__text">18months</div>
          </div>
          <div class="features__content">
            <div class="features__text">18months</div>
            <div class="features__text">Yes</div>
          </div>
          <div class="features__content">
            <div class="features__text">Operating System</div>
            <div class="features__text">Apple IOS 15</div>
          </div>
          <div class="features__content">
            <div class="features__text">RAM size</div>
            <div class="features__text">6GB</div>
          </div>
          <div class="features__content">
            <div class="features__text">Storage</div>
            <div class="features__text">256Gb</div>
          </div>
          <div class="features__content">
            <div class="features__text">Battery</div>
            <div class="features__text">4352 mAh</div>
          </div>
          <div class="features__content">
            <div class="features__text">No of Rear Camera</div>
            <div class="features__text">3</div>
          </div>
          <div class="features__content">
            <div class="features__text">5G LTE</div>
            <div class="features__text">Yes</div>
          </div>
          <div class="features__content">
            <div class="features__text">Dual Sim</div>
            <div class="features__text">Yes</div>
          </div>
          <div class="features__content">
            <div class="features__text">Front Camera</div>
            <div class="features__text">yes</div>
          </div>
          <div class="features__content">
            <div class="features__text">Security</div>
            <div class="features__text">Face scanner</div>
          </div>
          <div class="features__content">
            <div class="features__text">Processor</div>
            <div class="features__text">3.22GHz</div>
          </div>
          <div class="features__content">
            <div class="features__text">Memory Card Reader</div>
            <div class="features__text">No</div>
          </div>
          <div class="features__content">
            <div class="features__text">
              Maximum Resolution(Highest Frame Rate)
            </div>
            <div class="features__text">1920x1080 (HD 1080)pixels</div>
          </div>
          <div class="features__content">
            <div class="features__text">Bluetooth Version</div>
            <div class="features__text">5.0</div>
          </div>
          <div class="features__content">
            <div class="features__text">Data connector</div>
            <div class="features__text">Lightning</div>
          </div>
          <div class="features__content">
            <div class="features__text">Built-in-Wireless Charging</div>
            <div class="features__text">Yes</div>
          </div>
        </div>
      </div>
    </section>

    <section reviews>
      <div class="review-section">
        <h2>Ratings and Reviews</h2>

        <div class="overall-review">
          <div class="numbers">
            <p><span class="rate-num">4.5</span> out of 5</p>
          </div>

          <div class="review-container">
            <div contain>
              <div class="stars-container"></div>
              <div class="progress-container">
                <div class="progress-star">
                  <div>
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                  </div>
                  <div class="progress-bar">
                    <div class="progress-bar-fill first"></div>
                  </div>
                </div>
                <div class="progress-star">
                  <div>
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                  </div>
                  <div class="progress-bar">
                    <div class="progress-bar-fill second"></div>
                  </div>
                </div>
                <div class="progress-star">
                  <div>
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                  </div>
                  <div class="progress-bar">
                    <div class="progress-bar-fill third"></div>
                  </div>
                </div>
                <div class="progress-star">
                  <div>
                    <img src="../images/social media icon/star.svg" alt="" />
                    <img src="../images/social media icon/star.svg" alt="" />
                  </div>
                  <div class="progress-bar">
                    <div class="progress-bar-fill fourth"></div>
                  </div>
                </div>
                <div class="progress-star">
                  <div>
                    <img src="../images/social media icon/star.svg" alt="" />
                  </div>
                  <div class="progress-bar">
                    <div class="progress-bar-fill fifth"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="pro-contain">
            <div class="profile-pic">
              <img src="../images/model.png" alt="profile-pic" />
            </div>
            <div class="content">
              <div>
                <img src="../images/social media icon/star.svg" alt="" />
                <img src="../images/social media icon/star.svg" alt="" />
                <img src="../images/social media icon/star.svg" alt="" />
              </div>
              <p>Joe</p>
              <p>joelawrence@gmail.com</p>
              <address>California, USA</address>
              <h4>Great App for shopping</h4>
            </div>
          </div>
          <div class="time">
            <p>2 days ago...</p>
          </div>
        </div>
      </div>
      <div class="profile">
        <div class="pro-contain">
          <div class="profile-pic">
            <img src="../images/model1.png" alt="profile-pic" />
          </div>
          <div class="content">
            <div>
              <img src="../images/social media icon/star.svg" alt="" />
              <img src="../images/social media icon/star.svg" alt="" />
              <img src="../images/social media icon/star.svg" alt="" />
              <img src="../images/social media icon/star.svg" alt="" />
            </div>
            <p>Mary</p>
            <p>maryrandy@gmail.com</p>
            <address>Lagos, Nigeria</address>
            <h4>I've been using this app for so long and I love it</h4>
          </div>
        </div>
        <div class="time">
          <p>15 days ago...</p>
        </div>
      </div>
      <div class="profile">
        <div class="pro-contain">
          <div class="profile-pic">
            <img src="../images/model2.png" alt="profile-pic" />
          </div>
          <div class="content">
            <div>
              <img src="../images/social media icon/star.svg" alt="" />
              <img src="../images/social media icon/star.svg" alt="" />
              <img src="../images/social media icon/star.svg" alt="" />
              <img src="../images/social media icon/star.svg" alt="" />
              <img src="../images/social media icon/star.svg" alt="" />
            </div>
            <p>Bimbo</p>
            <p>missbimbo@gmail.com</p>
            <address>Abuja, Nigeria</address>
            <h4>
              I love it, very easy to use and have lots of affordable products
            </h4>
          </div>
        </div>
        <div class="time">
          <p>1 month ago...</p>
        </div>
      </div>
    </section>
    <footer>
      <section class="footerContainer">
        <section class="Social_Icons">
          <div class="footLogo">Wallet<span>friendly</span></div>
          <div class="Icons">
            <ul>
              <li>
                <a href="#"
                  ><img src="../images/social media icon/mail.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#">
                  <img src="../images/social media icon/twitter.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../images/social media icon/facebook.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../images/social media icon/youtube.svg" alt="" />
                </a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">
                  <img src="../images/social media icon/instagram.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#">
                  <img src="../images/social media icon/telegram.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../images/social media icon/tiktok.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../images/social media icon/reddit.svg" alt=""
                /></a>
              </li>
            </ul>
          </div>
        </section>
        <section categories>
          <p><strong>Categories</strong></p>
          <ul>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Bone Straight</a></li>
            <li><a href="#">Human Hairs</a></li>
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Mobile Phones</a></li>
            <li><a href="#">Men's Wear</a></li>
            <li><a href="#">Men's Shoes</a></li>
            <li><a href="#">Women's Wear</a></li>
            <li><a href="#">Women's Shoes</a></li>
            <li><a href="#">Smart TVs</a></li>
          </ul>
        </section>
        <section gadgetBrands>
          <p><strong>Gadgets Brands</strong></p>
          <ul>
            <li><a href="#">Apple TVs</a></li>
            <li><a href="#">Dell</a></li>
            <li><a href="#">Hisense</a></li>
            <li><a href="#">Infinix Smart TVs</a></li>
            <li><a href="#">iPhones</a></li>
            <li><a href="#">Oppo</a></li>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">Spectre</a></li>
            <li><a href="#">Polystar</a></li>
            <li><a href="#">Watches</a></li>
          </ul>
        </section>
        <section popularBrands>
          <p><strong>Popular Brands</strong></p>
          <ul>
            <li><a href="#">Amazon</a></li>
            <li><a href="#">Apple</a></li>
            <li><a href="#">Google</a></li>
            <li><a href="#">Lewi's</a></li>
            <li><a href="#">Microsoft</a></li>
            <li><a href="#">7up</a></li>
            <li><a href="#">Zara</a></li>
          </ul>
        </section>
        <section About>
          <p><strong>About</strong></p>
          <ul>
            <li><a href="#">About WalletFriendly</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Compare Prices</a></li>
            <li><a href="#">Latest News</a></li>
          </ul>
        </section>
      </section>

      <hr bottom />

      <section bottom>
        <div class="bottom">
          <p>
            <strong>Copyright 2022,</strong>WalletFriendly ©
            <strong>All Rights Reserved</strong>
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
