<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/contactUs.css" />
    <script src="../script/sidebar.js" defer></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../css/gadgetLaptops.css" />
  </head>
  <body>
    <header>
      <section class="head_section">
        <div class="icons">
          <div id="menu-bar" class="fas fa-bars"></div>
        </div>
        <nav class="navbar">
          <div class="user">
            <img src="../images/model.png" alt="" />

            <h4>John Doe</h4>
          </div>

          <div class="links">
            <a href="./index.html">Home</a>

            <a href="./AboutUs.html">About</a>

            <a href="./team.html">Team</a>

            <a href="./faq.html">FAQ</a>

            <a href="./contactUs.html">Contact Us</a>
          </div>

          <div id="close" class="fas fa-times"></div>
        </nav>
        <div class="logo">Wallet<span>friendly</span></div>

        <div class="login">
          <div>
            <span class="material-symbols-outlined">person</span>
            <button class="signInButton">
              <a href="./Login.html"> Login </a>
            </button>
          </div>
          <div>
            <span class="material-symbols-outlined">shopping_cart</span>
          </div>
        </div>
      </section>

      <nav id="nav_bar">
        <div class="nav-links">
          <ul>
            <li fashion>
              <a href="./fashion.html"> Fashion</a>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="./fashionMen.html">Men's Clothing</a>
                  </li>
                  <li>
                    <a href="./fashionWomen.html">Women's Clothing</a>
                  </li>
                  <li><a href="./fashionMen.html">Men's Shoes</a></li>
                  <li>
                    <a href="./fashionWomen.html">Women's Shoes</a>
                  </li>
                </ul>
              </div>
            </li>

            <li gadget>
              <a href="./gadgetHompage.html"> Gadget</a>

              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="./gadgetPhones.html">Mobile Phones</a>
                  </li>
                  <li><a href="./gadgetLaptops.html">Laptops</a></li>
                  <li><a href="./gadgettv.html">Smart TVs</a></li>
                </ul>
              </div>
            </li>
            <li hair>
              <a href="./hairHomePage.html"> Hair</a>

              <div class="subMenu1">
                <ul class="linkPages">
                  <li><a href="./hairHomePage.html">Human Hair</a></li>
                  <li>
                    <a href="./boneStraight.html">Bone Straight</a>
                  </li>
                  <li>
                    <a href="./hairAccessories.html">Accessories</a>
                  </li>
                </ul>
              </div>
            </li>

            <li compare>
              <a href="#"> Compare</a>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li><a href="#">By Price</a></li>
                  <li><a href="#">By Brand</a></li>
                  <li><a href="#">By Rating</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="contact-page">
        <div>
          <div>
            <h2>CONTACT US</h2>
            <p>We're here for you! How can we help you?</p>
          </div>
          <form action="" method="">
            <input
              type="text"
              name="name"
              required
              placeholder="Enter your name"
            />
            <input
              type="email"
              name="email"
              required
              placeholder="Enter your email address "
            />
            <textarea
              name="comment"
              id=""
              placeholder="What can we do for you?"
              required
              cols="30"
              rows="10"
            ></textarea>
            <input type="submit" value="Submit" id="submit" />
          </form>
        </div>
        <div class="address">
          <div>
            <span class="material-symbols-outlined"> location_on </span>
            Zuri Headquarters Avenue
          </div>
          <div>
            <span class="material-symbols-outlined"> mail </span
            >Team24Project@zuri.com
          </div>
          <div>
            <span class="material-symbols-outlined"> phone_in_talk </span
            >407-203-304
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
