<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create an account Page</title>
		<link rel="stylesheet" href="../css/createAccount.css" />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      />
	</head>
	<body id="login-body-content">
		<header>
			<section class="head_section">
				<div class="logo">Wallet<span>friendly</span></div>
				<!-- <div class="search_bar">
					<input
						type="search"
						placeholder="Search Product, brand"
						name="search"
						id="search_bar"
					/>
				</div> -->
				<div class="top-link">
          <ul>
              <li><a href="">About</a></li>
              <li><a href="">Team</a></li>
              <li><a href="">FAQs</a></li>
              <li><a href="../template/contactUs.html">Contact</a></li>
          </ul>
      </div>
				<div class="login">
					<div>
						<span class="material-symbols-outlined">person</span>
						<button class="signInButton"><a href="../template/Login.html"> Login </a></button>
					</div>
					<div>
						<span class="material-symbols-outlined">shopping_cart</span>
					</div>
				</div>
			</section>

			<nav id="nav_bar">
				<div class="nav-links nav-list">
					<ul>
						<li fashion>
							<a href="../template/fashion.html"> Fashion</a>
							<div class="subMenu1">
								<ul class="linkPages">
									<li><a href="../template/fashionMen.html">Men's Clothing</a></li>
									<li><a href="../template/fashionWomen.html">Women's Clothing</a></li>
									<li><a href="../template/fashionMen.html">Men's Shoes</a></li>
									<li><a href="../template/fashionWomen.html">Women's Shoes</a></li>
								</ul>
							</div>
						</li>

						<li gadget>
							<a href="../template/gadgetHompage.html"> Gadget</a>

							<div class="subMenu1">
								<ul class="linkPages">
									<li><a href="../template/gadgetPhones.html">Mobile Phones</a></li>
									<li><a href="../template/gadgetLaptops.html">Laptops</a></li>
									<li><a href="../template/gadgettv.html">Smart TVs</a></li>
								</ul>
							</div>
						</li>
						<li hair>
							<a href="../template/hairHomePage.html"> Hair</a>

							<div class="subMenu1">
								<ul class="linkPages">
									<li><a href="../template/humanHair.html">Human Hair</a></li>
									<li><a href="../template/boneStraight.html">Bone Straight</a></li>
									<li><a href="../template/hairAccessories.html">Accessories</a></li>
								</ul>
							</div>
						</li>
						<li compare>
							<a href="../template/compareGadgets.html"> Compare</a>
							<div class="subMenu1">
								<ul class="linkPages">
									<li><a href="../template/compareGadgets.html">By Price</a></li>
									<li><a href="../template/compareGadgets.html">By Brand</a></li>
									<li><a href="../template/compareGadgets.html">By Rating</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</header>

			<form action="" id="login-form">
				<h2 class="form__title">Create An Account</h2>
				<div class="login__input-box">
					<label class="login-label" for="email-phone">First Name</label>
					<input
						type="text"
						name="email-phone"
						id="email-phone"
						placeholder="Enter First Name"
						required
					/>
				</div>
                <div class="login__input-box">
					<label class="login-label" for="email-phone">Last Name</label>
					<input
						type="text"
						name="email-phone"
						id="email-phone"
						placeholder="Enter Last Name"
						required
					/>
				</div>
                <div class="login__input-box">
					<label class="login-label" for="email-phone">Email Address</label>
					<input
						type="text"
						name="email-phone"
						id="email-phone"
						placeholder="Enter Email Address"
						required
					/>
				</div>
                <div class="login__input-box">
					<label class="login-label" for="email-phone">Phone Number</label>
					<input
						type="text"
						name="email-phone"
						id="email-phone"
						placeholder="Enter Phone Number"
						required
					/>
				</div>
				<div class="login__input-box">
					<label class="login-label" for="password">Password</label>
					<input
						type="text"
						name="password"
						id="password"
						placeholder="Enter Password"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
						required
					/>
				</div>
                <div class="login__input-box">
                    <label class="login-label" for="password">Confirm Password</label>
                    <input
                        type="text"
                        name="password"
                        id="password"
                        placeholder="Confirm Password"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        required
                    />
                </div>
            <button class="login-btn" type="submit">
               Create An Account
            </button>
            <p class="form__text">By Signing up you accept our <span class="account-terms">Terms and Conditions <br> privacy policy</span></p>
            <div class="create-account-login">
               <p class="form__text acc">Already Have An Account?</p>
               <div class="create-account__link">
                  <a href="../template/Login.html">Login</a>
               </div>
            </div>
			</form>
	</body>
</html>