<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Men</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="../css/fashionmen.css">
    <link rel="stylesheet" href="../css/popup.css">
     <script src="../script/sidebar.js" defer></script>

</head>

<body>
    <header>
        <section class="head_section">
                    <div class="icons">
          <div id="menu-bar" class="fas fa-bars"></div>
        </div>
        <nav class="navbar">
          <div class="user">
            <img src="../images/model.png" alt="" />

            <h4>John Doe</h4>
          </div>

          <div class="links">
            <a href="./index.html">Home</a>

            <a href="./AboutUs.html">About</a>

            <a href="./team.html">Team</a>

            <a href="./faq.html">FAQ</a>

            <a href="./contactUs.html">Contact Us</a>
          </div>

          <div id="close" class="fas fa-times"></div>
        </nav>
            <div class="logo">
                Wallet<span>friendly</span>
            </div>
            <!-- <div class="search_bar">
                <input type="search" placeholder="Search Product, brand" name="search" id="search_bar">

            </div> -->
            <div class="top-link">
                <ul>
                    <li><a href="../template/AboutUs.html">About</a></li>
                    <li><a href="./team.html">Team</a></li>
                    <li><a href="../template/faq.html">FAQs</a></li>
                    <li><a href="./contactUs.html">Contact</a></li>
                </ul>
            </div>

            <div class="login">

                <div>
                    <span class="material-symbols-outlined">person</span>
                    <button class="signInButton"> <a href="./Login.html"> Login </a></button>
                </div>
                <div>
                    <span class="material-symbols-outlined">shopping_cart</span>
                </div>



            </div>

        </section>



        <nav id="nav_bar">

            <div class="nav-links">

                <ul>

                    <li fashion> <a href="./fashion.html"> Fashion</a>
                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="./fashionMen.html">Men's Clothing</a></li>
                                <li><a href="./fashionWomen.html">Women's Clothing</a></li>
                                <li><a href="./fashionMen.html">Men's Shoes</a></li>
                                <li><a href="./fashionWomen.html">Women's Shoes</a></li>
                            </ul>


                        </div>
                    </li>



                    <li gadget> <a href="./gadgetHompage.html"> Gadget</a>

                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="./gadgetPhones.html">Mobile Phones</a></li>
                                <li><a href="./gadgetLaptops.html">Laptops</a></li>
                                <li><a href="./gadgettv.html">Smart TVs</a></li>

                            </ul>


                        </div>

                    </li>
                    <li hair> <a href="./hairHomePage.html"> Hair</a>

                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="./hairHomePage.html">Human Hair</a></li>
                                <li><a href="./boneStraight.html">Bone Straight</a></li>
                                <li><a href="./hairAccessories.html">Accessories</a></li>

                            </ul>


                        </div>

                    </li>

                    <li compare> <a href="#"> Compare</a>
                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="#">By Price</a></li>
                                <li><a href="#">By Brand</a></li>
                                <li><a href="#">By Rating</a></li>

                            </ul>


                        </div>
                    </li>
                </ul>
            </div>

        </nav>

    </header>
    <main>
        <section class="hero-section">
            <!-- <img src="../images/men/Rectangle 18.png" alt="" />
            <img src="../images/men/Rectangle 10.png" alt="" />
            <img src="../images/men/Rectangle 11.png" alt="" />
            <img src="../images/men/Rectangle 12.png" alt="" />
            <img src="../images/men/Rectangle 13.png" alt="" />
            <img src="../images/men/Rectangle 14.png" alt="" /> -->

            <h1 class="hero-section__title">
                Men's Wear
            </h1>
            <div class="search_bar">
                <span class="material-symbols-outlined">search</span>
                <input type="search" placeholder="Search Product, brand" name="search" id="search_bar" />
            </div>
        </section>

        <aside class="filter">
            <h2>Filters</h2>
            <input search type="text" placeholder="Search A-Z" name="" id="" />
            <p search-text>
                Search Alphabetically or apply some filters <br />
                from below
            </p>
            <span>Search A-Z</span>

            <h2>Price</h2>
            <div class="amount">
                <input type="tel" placeholder="Min" name="min" id="min" />
                to
                <input type="tel" placeholder="Max" name="max" id="max" />
            </div>

            <div class="popular">
                <h3>Popular Brands</h3>
                <div>
                    <a href="#"> Gap </a>
                </div>
                <div>
                    <a href="#">Boohoo</a>
                </div>
            </div>

            <div class="stores">
                <h3>Stores</h3>
                <div>
                    <a href="#"> Fashionnova </a>
                </div>
                <div>
                    <a href="#">Jumia</a>
                </div>
                <div>
                    <a href="#">AliExpress</a>
                </div>
            </div>
        </aside>

        <div container>
            <section class="iPhone main-content">
                <h2>Men's Wear</h2>
                <div class="preview">
                    <div class="box">
                        <div>
                            <img src="../images/men/details main.png" alt="" />
                        </div>
                        <div>
                            <h4>Jeans</h4>
                            <p>&#8358;15,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/men/as.png" alt="" />
                        </div>
                        <div>
                            <h4>Jackets & Coats</h4>
                            <p>&#8358;30,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/men/Rectangle 13.png" alt="" />
                        </div>
                        <div>
                            <h4>Shorts</h4>
                            <p>&#8358;7,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="samsung main-content">
                <h2>Men's Trousers</h2>
                <div class="preview">
                    <div class="box">
                        <div>
                            <img src="../images/men/fgd.png" alt="" />
                        </div>
                        <div>
                            <h4>Manton Crested Joggers</h4>
                            <p>&#8358;5,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/men/ef.png" alt="" />
                        </div>
                        <div>
                            <h4>Classical Trouser</h4>
                            <p>&#8358;10,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/men/fdsz.png" alt="" />
                        </div>
                        <div>
                            <h4>Men's Plain Trousers</h4>
                            <p>&#8358;8,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shoes-section">
                <h2>Men's shoe</h2>
                <div class="shoes">
                    <div class="shoes-box">
                        <div>
                            <img src="../images/men/weds.png" alt="" />
                        </div>
                        <div class="shoe-content">
                            <h4>Classical Corporate Shoe Brown</h4>
                            <p>&#8358;10,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="shoes-box">
                        <div>
                            <img src="../images/men/qadc.png" alt="" />
                        </div>
                        <div class="shoe-content">
                            <h4>Men's Shoe Casual Sneakers</h4>
                            <p>&#8358;5,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shoes-section">
                <h2>Men's Sneakers</h2>
                <div class="shoes">
                    <div class="shoes-box">
                        <div>
                            <img src="../images/men/144041_1543587452 1.png" alt="" />
                        </div>
                        <div class="shoe-content">
                            <h4>Nike Air Jordan 1</h4>
                            <p>&#8358;49,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                        </div>
                    </div>
                    <div class="shoes-box">
                        <div>
                            <img src="../images/men/3023_1648550523 1.png" alt="" />
                        </div>
                        <div class="shoe-content">
                            <h4>Van's Men Sneakers</h4>
                            <p>&#8358;10,000</p>
                            <div class="compare">
                                <a class="compare-btn" href="#">Compare</a>
                            </div>
                            <div class="popup">
                                <div class="close-btn">&times;</div>
                                <div class="form">
                                    <h2>Log in</h2>
                                    <div class="form-element">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" placeholder="Enter email">
                                    </div>
                                    <div class="form-element">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" placeholder="Enter password">
                                    </div>
                                    <div class="form-element">
                                        <input type="checkbox" id="remember-me">
                                        <label for="remember-me">Remember me</label>
                                    </div>
                                    <div class="form-element">
                                        <button>Sign in</button>
                                    </div>
                                    <div class="form-element">
                                        <a href="../template/forgotPassword.html">Forgot password?</a>
                                    </div>
                                    <div class="popup-signup">
                                        Don't have an account? <a href="../template/createAccount.html">Sign up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>


    </main>

    <section reviews>
        <div class="review-section">
            <h2>Ratings and Reviews</h2>

            <div class="overall-review">
                <div class="numbers">
                    <p>4.5 out of 5</p>
                </div>

                <div class="review-container">
                    <div contain>
                        <div class="stars-container">
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="progress-container">
                            <div class="progress-bar">
                                <div class="progress-bar-fill first"></div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-bar-fill second"></div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-bar-fill third"></div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-bar-fill fourth"></div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-bar-fill fifth"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="pro-contain">
                    <div class="profile-pic">
                        <img src="../images/model.png" alt="profile-pic" />
                    </div>
                    <div class="content">
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Joe</p>
                        <p>joelawrence@gmail.com</p>
                        <address>California, USA</address>
                        <h4>Great App for shopping</h4>
                    </div>
                </div>
                <div class="time">
                    <p>2 days ago...</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="pro-contain">
                <div class="profile-pic">
                    <img src="../images/model1.png" alt="profile-pic" />
                </div>
                <div class="content">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Mary</p>
                    <p>maryrandy@gmail.com</p>
                    <address>Lagos, Nigeria</address>
                    <h4>I've been using this app for so long and I love it</h4>
                </div>
            </div>
            <div class="time">
                <p>15 days ago...</p>
            </div>
        </div>
        <div class="profile">
            <div class="pro-contain">
                <div class="profile-pic">
                    <img src="../images/model2.png" alt="profile-pic" />
                </div>
                <div class="content">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Bimbo</p>
                    <p>missbimbo@gmail.com</p>
                    <address>Abuja, Nigeria</address>
                    <h4>
                        I love it, very easy to use and have lots of affordable products
                    </h4>
                </div>
            </div>
            <div class="time">
                <p>1 month ago...</p>
            </div>
        </div>
    </section>
    <footer>
        <section class="footerContainer">

            <section class="Social_Icons">
                <div class="footLogo">
                    Wallet<span>friendly</span>
                </div>
                <div class="Icons">
                    <ul>
                        <li> <a href="#"><img src="../images/social media icon/mail.svg" alt="mail icon"></a> </li>
                        <li> <a href="#"> <img src="../images/social media icon/twitter.svg" alt="twitter icon"> </a>
                        </li>
                        <li> <a href="#"> <img src="../images/social media icon/facebook.svg" alt="facebook icon"> </a>
                        </li>
                        <li> <a href="#"> <img src="../images/social media icon/youtube.svg" alt="youtube icon"> </a>
                        </li>
                    </ul>
                    <ul>
                        <li> <a href="#"> <img src="../images/social media icon/instagram.svg" alt="instagram icon"></a>
                        </li>
                        <li> <a href="#"> <img src="../images/social media icon/telegram.svg" alt="telegram icon"> </a>
                        </li>
                        <li> <a href="#"> <img src="../images/social media icon/tiktok.svg" alt="tiktok icon"> </a>
                        </li>
                        <li> <a href="#"> <img src="../images/social media icon/reddit.svg" alt="reddit icon"></a> </li>
                    </ul>
            </section>
            <section categories>
                <p><strong>Categories</strong></p>
                <ul>
                    <li><a href="../template/hairAccessories.html">Accessories</a></li>
                    <li><a href="../template/boneStraight.html">Bone Straight</a></li>
                    <li><a href="../template/humanHair.html">Human Hairs</a></li>
                    <li><a href="../template/gadgetLaptops.html">Laptops</a></li>
                    <li><a href="../template/gadgetPhones.html">Mobile Phones</a></li>
                    <li><a href="../template/fashionMen.html">Men's Wear</a></li>
                    <li><a href="../template/fashionMen.html">Men's Shoes</a></li>
                    <li><a href="../template/fashionWomen.html">Women's Wear</a></li>
                    <li><a href="../template/fashionWomen.html">Women's Shoes</a></li>
                    <li><a href="../template/gadgettv.html">Smart TVs</a></li>
                </ul>
            </section>
            <section gadgetBrands>
                <p><strong>Gadgets Brands</strong></p>
                <ul>
                    <li><a href="../template/gadgettv.html">Apple TVs</a></li>
                    <li><a href="../template/gadgetLaptops.html">Dell</a></li>
                    <li><a href="../template/gadgettv.html">Hisense</a></li>
                    <li><a href="../template/gadgettv.html">Infinix Smart TVs</a></li>
                    <li><a href="../template/gadgetPhones.html">iPhones</a></li>
                    <li><a href="../template/gadgetPhones.html">Oppo</a></li>
                    <li><a href="../template/gadgetPhones.html">Samsung</a></li>
                    <li><a href="../template/fashion.html">Spectre</a></li>
                    <li><a href="../template/fashionMen.html">Polystar</a></li>
                    <li><a href="../template/fashionMen.html">Watches</a></li>
                </ul>
            </section>
            <section popularBrands>
                <p><strong>Popular Brands</strong></p>
                <ul>
                    <li><a href="http://www.amazon.com/" target="_blank">Amazon</a></li>
                    <li><a href="https://www.apple.com/ng/" target="_blank">Apple</a></li>
                    <li><a href="http://www.google.com/" target="_blank">Google</a></li>
                    <li><a href="https://www.lewisstores.co.za/" target="_blank">Lewi's</a></li>
                    <li><a href="https://www.microsoft.com/en-ng" target="_blank">Microsoft</a></li>
                    <li><a href="https://www.7up.com/" target="_blank">7up</a></li>
                    <li><a href="https://www.zara.com/" target="_blank">Zara</a></li>

                </ul>
            </section>
            <section About>
                <p><strong>About</strong></p>
                <ul>
                    <li><a href="#">About WalletFriendly</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="../template/team.html">Team</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="../template/contactUs.html">Contact Us</a></li>
                    <li><a href="../template/compareGadgets.html">Compare Prices</a></li>
                    <li><a href="../template/trendingNews.html">Latest News</a></li>
                    <li><a href="../template/review.html">Reviews</a></li>
                    <li><a href="../template/documentation.html">Documentation</a></li>
                </ul>
            </section>
        </section>


        <hr bottom>

        <section bottom>

            <div class="bottom">
                <p> <strong>Copyright 2022,</strong>WalletFriendly © <strong>All Rights Reserved</strong></p>
            </div>
        </section>

    </footer>

    <script src="../script/popup.js"></script>
</body>

</html>