<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Men</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/gadgetPhones.css">
</head>

<body>

    <header>
        <div class="head_section">
            <div class="logo">
                <img src="/images/Asset 3.png" alt="Logo">
            </div>
            <div class="search_bar">
                <input type="search" placeholder="Search Product, brand" name="search" id="search_bar">
                <span>icon</span>
            </div>
            <div class="login">
                <button class="signInButton">Sign In</button>
            </div>
        </div>
        <nav id="nav_bar">
            <div class="navLinks">

                <ul>
                    <li class="active"> <a href="#"> Home</a></li>
                    <li> <a href="#"> Fashion</a>
                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>

                            </ul>


                        </div>
                    </li>



                    <li> <a href="#"> Gadget</a>

                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>

                            </ul>


                        </div>

                    </li>
                    <li> <a href="#"> Hair</a>

                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>

                            </ul>
                        </div>
                    </li>
                    <li> <a href="#"> Other</a></li>
                    <li> <a href="#"> Compare</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero-section">
            <img src="../images/men/Rectangle 18.png" alt="" />
            <img src="../images/men/Rectangle 10.png" alt="" />
            <img src="../images/men/Rectangle 11.png" alt="" />
            <img src="../images/men/Rectangle 12.png" alt="" />
            <img src="../images/men/Rectangle 13.png" alt="" />
            <img src="../images/men/Rectangle 14.png" alt="" />
        </section>

        <aside class="filter">
            <h2>Filters</h2>
            <input search type="text" placeholder="Search A-Z" name="" id="" />
            <p search-text>
                Search Alphabetically or apply some filters <br />
                from below
            </p>
            <span>Search A-Z</span>

            <h2>Price</h2>
            <div class="amount">
                <input type="tel" placeholder="Min" name="min" id="min" />
                to
                <input type="tel" placeholder="Max" name="max" id="max" />
            </div>

            <div class="popular">
                <h3>Popular Brands</h3>
                <div>
                    <a href="#"> Gap </a>
                </div>
                <div>
                    <a href="#">Boohoo</a>
                </div>

                <div><a href="#">See more...</a></div>
            </div>

            <div class="stores">
                <h3>Stores</h3>
                <div>
                    <a href="#"> Fashionnova </a>
                </div>
                <div>
                    <a href="#">Jumia</a>
                </div>
                <div>
                    <a href="#">AliExpress</a>
                </div>
                <div><a href="#">See more...</a></div>
            </div>
            <div load-more><a href="">Load more</a></div>
        </aside>

        <div container>
            <section class="iPhone main-content">
                <h2>Men's Wear</h2>
                <div class="preview">
                    <div class="box">
                        <div>
                            <img src="../images/men/details main.png" alt="" />
                        </div>
                        <div>
                            <h4>Jeans</h4>
                            <p>&#8358;15,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/men/as.png" alt="" />
                        </div>
                        <div>
                            <h4>Jackets & Coats</h4>
                            <p>&#8358;30,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/men/Rectangle 13.png" alt="" />
                        </div>
                        <div>
                            <h4>Shorts</h4>
                            <p>&#8358;7,000</p>
                        </div>
                    </div>
                </div>
                <div see_more>
                    <a href="#">See more...</a>
                </div>
            </section>

            <section class="samsung main-content">
                <h2>Men's Trousers</h2>
                <div class="preview">
                    <div class="box">
                        <div>
                            <img src="../images/men/fgd.png" alt="" />
                        </div>
                        <div>
                            <h4>Manton Crested Joggers</h4>
                            <p>&#8358;5,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/men/ef.png" alt="" />
                        </div>
                        <div>
                            <h4>Classical Trouser</h4>
                            <p>&#8358;10,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/men/fdsz.png" alt="" />
                        </div>
                        <div>
                            <h4>Men's Plain Trousers</h4>
                            <p>&#8358;8,000</p>
                        </div>
                    </div>
                </div>
                <div see_more>
                    <a href="#">See more...</a>
                </div>
            </section>

            <section class="shoes-section">
                <h2>Men's shoe</h2>
                <div class="shoes">
                    <div class="shoes-box">
                        <div>
                            <img src="../images/men/weds.png" alt="" />
                        </div>
                        <div class="shoe-content">
                            <h4>Classical Corporate Shoe Brown</h4>
                            <p>&#8358;10,000</p>
                        </div>
                    </div>
                    <div class="shoes-box">
                        <div>
                            <img src="../images/men/qadc.png" alt="" />
                        </div>
                        <div class="shoe-content">
                            <h4>Men's Shoe Casual Sneakers</h4>
                            <p>&#8358;5,000</p>
                        </div>
                    </div>
                </div>
                <div see_more>
                    <a href="#">See more...</a>
                </div>
            </section>

            <section class="shoes-section">
                <h2>Men's Sneakers</h2>
                <div class="shoes">
                    <div class="shoes-box">
                        <div>
                            <img src="../images/men/144041_1543587452 1.png" alt="" />
                        </div>
                        <div class="shoe-content">
                            <h4>Nike Air Jordan 1</h4>
                            <p>&#8358;49,000</p>
                        </div>
                    </div>
                    <div class="shoes-box">
                        <div>
                            <img src="../images/men/3023_1648550523 1.png" alt="" />
                        </div>
                        <div class="shoe-content">
                            <h4>Van's Men Sneakers</h4>
                            <p>&#8358;10,000</p>
                        </div>
                    </div>

                    <div see_more>
                        <a href="#">See more...</a>
                    </div>
                </div>
            </section>
        </div>

        <section reviews>
            <i class="fas fa-star"></i>
        </section>
    </main>

    <footer>
        <section class="footerContainer">

            <section class="Social_Icons">
                <div class="footLogo">
                    <img src="/images/Asset 3.png" alt="">
                </div>
                <div class="Icons">
                    <ul>
                        <li> <a href="#"> <img src="/facebook.png" alt=""> icons</a> </li>
                        <li> <a href="#"> <img src="/twitter.png" alt=""> icons </a> </li>
                        <li> <a href="#"> <img src="/instagram.png" alt=""> icons</a> </li>
                        <li> <a href="#"> <img src="/youtube.png" alt=""> icons</a> </li>
                    </ul>
                    <ul>
                        <li> <a href="#"> <img src="/facebook.png" alt=""> icons</a> </li>
                        <li> <a href="#"> <img src="/twitter.png" alt=""> icons</a> </li>
                        <li> <a href="#"> <img src="/instagram.png" alt=""> icons </a> </li>
                        <li> <a href="#"> <img src="/youtube.png" alt=""> icons</a> </li>
                    </ul>

                </div>

            </section>

            <section categories>
                <p><strong>Categories</strong></p>
                <ul>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Bone Straight</a></li>
                    <li><a href="#">Human Hairs</a></li>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Mobile Phones</a></li>
                    <li><a href="#">Men's Wear</a></li>
                    <li><a href="#">Men's Shoes</a></li>
                    <li><a href="#">Women's Wear</a></li>
                    <li><a href="#">Women's Shoes</a></li>
                    <li><a href="#">Smart TVs</a></li>
                </ul>
            </section>
            <section gadgetBrands>
                <p><strong>Gadgets Brands</strong></p>
                <ul>
                    <li><a href="#">Apple TVs</a></li>
                    <li><a href="#">Dell</a></li>
                    <li><a href="#">Hisense</a></li>
                    <li><a href="#">Infinix Smart TVs</a></li>
                    <li><a href="#">iPhones</a></li>
                    <li><a href="#">Oppo</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Spectre</a></li>
                    <li><a href="#">Polystar</a></li>
                    <li><a href="#">Watches</a></li>
                </ul>
            </section>
            <section popularBrands>
                <p><strong>Popular Brands</strong></p>
                <ul>
                    <li><a href="#">Amazon</a></li>
                    <li><a href="#">Apple</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Lewi's</a></li>
                    <li><a href="#">Microsoft</a></li>
                    <li><a href="#">7up</a></li>
                    <li><a href="#">Zara</a></li>

                </ul>
            </section>
            <section About>
                <p><strong>About</strong></p>
                <ul>
                    <li><a href="#">About WalletFriendly</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Compare Prices</a></li>
                    <li><a href="#">Latest News</a></li>

                </ul>
            </section>
        </section>
        <hr bottom>
        <section bottom>

            <div class="bottom">
                <p> <strong>Copyright 2022,</strong>WalletFriendly © <strong>All Rights Reserved</strong></p>
            </div>
            <div class="contact">
                <a href="#">Contact Us</a>
                <div class="box"></div>
                <a href="#">Privacy Policy</a>
                <div class="box"></div>
                <a href="#"> Terms of Service</a>
            </div>
        </section>
    </footer>

</body>

</html>