<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>
    <link rel="stylesheet" href="/css/gadgetPhones.css" />
    <link rel="stylesheet" href="/css/forgotPassword.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
  </head>
  <body>
    <header>
      <section class="head_section">
        <div class="logo">Wallet<span>friendly</span></div>
        <div class="search_bar">
          <input
            type="search"
            placeholder="Search Product, brand"
            name="search"
            id="search_bar"
          />
        </div>
        <div class="login">
          <div>
            <span class="material-symbols-outlined">person</span>
            <button class="signInButton"><a href="#"> Login </a></button>
            <span class="material-symbols-outlined"> expand_more </span>
          </div>
          <div>
            <span class="material-symbols-outlined">shopping_cart</span>
          </div>
        </div>
      </section>

      <nav id="nav_bar">
        <div class="nav-links" forget-pass>
          <ul>
            <li fashion>
              <a href="#"> Fashion</a>
              <span class="material-symbols-outlined" drop> expand_more </span>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li><a href="#">Men's Clothing</a></li>
                  <li><a href="#">Women's Clothing</a></li>
                  <li><a href="#">Men's Shoes</a></li>
                  <li><a href="#">Women's Shoes</a></li>
                </ul>
              </div>
            </li>

            <li gadget>
              <a href="#"> Gadget</a>
              <span class="material-symbols-outlined" drop> expand_more </span>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li><a href="#">Mobile Phones</a></li>
                  <li><a href="#">Laptops</a></li>
                  <li><a href="#">Smart TVs</a></li>
                </ul>
              </div>
            </li>

            <li hair>
              <a href="#"> Hair</a>
              <span class="material-symbols-outlined" drop> expand_more </span>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li><a href="#">Human Hair</a></li>
                  <li><a href="#">Bone Straight</a></li>
                  <li><a href="#">Accessories</a></li>
                </ul>
              </div>
            </li>

            <li other>
              <a href="#"> Other</a>
              <span class="material-symbols-outlined" drop> expand_more </span>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li><a href="#">Social Media</a></li>
                  <li><a href="#">Partners</a></li>
                  <li><a href="#">WalletFriendly Team</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </div>
            </li>

            <li compare>
              <a href="#"> Others</a>
              <span class="material-symbols-outlined" drop> expand_more </span>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li><a href="#">By Price</a></li>
                  <li><a href="#">By Brand</a></li>
                  <li><a href="#">By Rating</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="grid--1-col">
      <form class="forget-pass-form">
        <div class="forget-pass-text">
          <h6>Forgot Password</h6>
          <p>
            Can’t remember your Login credentials? Enter your detalis below and
            we’ll send instructions <br />if your account exists
          </p>
        </div>
        <div class="forget-pass-fields">
          <label for="email">Enter your Email Address</label>
          <input
            type="email"
            name="email"
            placeholder="Enter your Email Address"
          />
          <button submit type="submit">Reset Password</button>
        </div>
      </form>
      <div class="page-return-login">
        <button return>Return to Login</button>
      </div>
    </main>
  </body>
</html>
