<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gadget Phones</title>
    <link rel="stylesheet" href="../css/gadgetPhones.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <section class="hero-section">
        <img src="../flat-design-gadgets-technology-icons-vector.jpg" alt="" />
        <img src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg" alt="" />
        <img src="../flat-design-gadgets-technology-icons-vector.jpg" alt="" />
        <img src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg" alt="" />
        <img src="../flat-design-gadgets-technology-icons-vector.jpg" alt="" />
        <img src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg" alt="" />
      </section>

      <aside class="filter">
        <h2>Filters</h2>
        <input search type="text" placeholder="Search A-Z" name="" id="" />
        <p search-text>
          Search Alphabetically or apply some filters <br />
          from below
        </p>
        <span>Search A-Z</span>

        <h2>Price</h2>
        <div class="amount">
          <input type="tel" placeholder="Min" name="min" id="min" />
          to
          <input type="tel" placeholder="Max" name="max" id="max" />
        </div>

        <div class="popular">
          <h3>Popular Brands</h3>
          <div>
            <a href="#"> Apple </a>
          </div>
          <div>
            <a href="#">Samsung</a>
          </div>

          <div><a href="#">See more...</a></div>
        </div>

        <div class="stores">
          <h3>Stores</h3>
          <div>
            <a href="#"> Konga </a>
          </div>
          <div>
            <a href="#">Jumia</a>
          </div>
          <div>
            <a href="#">AliExpress</a>
          </div>
          <div><a href="#">See more...</a></div>
        </div>
        <div load-more><a href="">Load more</a></div>
      </aside>

      <div container>
        <section class="iPhone main-content">
          <h2>iPhones</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Iphone 13 128GB</h4>
                <p>N400,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Iphone 11 64GB</h4>
                <p>N250,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Iphone X</h4>
                <p>N170,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="samsung main-content">
          <h2>Samsung</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Samsung s22 64GB</h4>
                <p>N680,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Samsung Z flip</h4>
                <p>N1,600,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Samsung A20</h4>
                <p>N80,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="tecno main-content">
          <h2>Tecno</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Tecno Camon 12</h4>
                <p>N96,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Tecno Spark 7</h4>
                <p>N80,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <h4>Pop 5</h4>
                <p>N50,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="hot-deals main-content">
          <h2>Hot Deals</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <p>45% discount</p>
                <h4>Iphone 13 Pro Max</h4>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="../WhatsApp Image 2022-07-30 at 9.48.55 PM.jpeg"
                  alt=""
                />
              </div>
              <div>
                <p>40% discount</p>
                <h4>Samsung Z flip 2</h4>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section reviews>
        <i class="fas fa-star"></i>
      </section>
    </main>
  </body>
</html>
