<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hot Deals</title>
    <link rel="stylesheet" href="../css/Hotdeals.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header>
        <section class="head_section">
            <div class="logo">Wallet<span>friendly</span></div>
            <!-- <div class="search_bar">
					<input
						type="search"
						placeholder="Search Product, brand"
						name="search"
						id="search_bar"
					/>
				</div> -->
            <div class="top-link">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Team</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="../template/contactUs.html">Contact</a></li>
                </ul>
            </div>
            <div class="login">
                <div>
                    <span class="material-symbols-outlined">person</span>
                    <button class="signInButton"><a href="../template/Login.html"> Login </a></button>
                </div>
                <div>
                    <span class="material-symbols-outlined">shopping_cart</span>
                </div>
            </div>
        </section>

        <nav id="nav_bar">
            <div class="nav-links nav-list">
                <ul>
                    <li fashion>
                        <a href="../template/fashion.html"> Fashion</a>
                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="../template/fashionMen.html">Men's Clothing</a></li>
                                <li><a href="../template/fashionWomen.html">Women's Clothing</a></li>
                                <li><a href="../template/fashionMen.html">Men's Shoes</a></li>
                                <li><a href="../template/fashionWomen.html">Women's Shoes</a></li>
                            </ul>
                        </div>
                    </li>

                    <li gadget>
                        <a href="../template/gadgetHompage.html"> Gadget</a>

                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="../template/gadgetPhones.html">Mobile Phones</a></li>
                                <li><a href="../template/gadgetLaptops.html">Laptops</a></li>
                                <li><a href="../template/gadgettv.html">Smart TVs</a></li>
                            </ul>
                        </div>
                    </li>
                    <li hair>
                        <a href="../template/hairHomePage.html"> Hair</a>

                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="../template/humanHair.html">Human Hair</a></li>
                                <li><a href="../template/boneStraight.html">Bone Straight</a></li>
                                <li><a href="../template/hairAccessories.html">Accessories</a></li>
                            </ul>
                        </div>
                    </li>
                    <li compare>
                        <a href="../template/compareGadgets.html"> Compare</a>
                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="../template/compareGadgets.html">By Price</a></li>
                                <li><a href="../template/compareGadgets.html">By Brand</a></li>
                                <li><a href="../template/compareGadgets.html">By Rating</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

        <body>
            <h2>Hot Deals</h2>
            <section class="hot-deals">
                <div class="preview">
                    <div class="box">
                        <div class="hair">
                            <img src="../images/human hair/image 47.png" alt="Straightener + Hair Oil" />
                        </div>
                        <div>
                            <h1>Straightener + Hair Oil</h1>
                            <p>5000</p>
                            <h4>45% discount on Wigtools</h4>
                        </div>
                        <div class="compare">
                            <a class="compare-btn" href="#">Get Deals</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="hair">
                            <img src="../images/human hair/image 47-1.png" alt="Pixie cut Frontal Lace Wig" />
                        </div>
                        <div>
                            <h1>Pixie cut Frontal Lace Wig</h1>
                            <p>41000</p>
                            <h4>45% discount on Hairybyginka </h4>
                        </div>
                        <div class="compare">
                            <a class="compare-btn" href="#">Get Deals</a>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/gadget and phones/iphone 13 pro max.png" alt="iPhone 11 64GB" />
                        </div>
                        <div>
                            <h1>iPhone 11 64GB</h1>
                            <p>250000</p>
                            <h4>15% discount on Konga </h4>
                        </div>
                        <div class="compare">
                            <a class="compare-btn" href="#">Get Deals</a>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/gadget and phones/iphone 13 pro max.png" alt="iPhone X" />
                        </div>
                        <div>
                            <h1>iPhone X</h1>
                            <p>170000</p>
                            <h4>10% discount on Konga </h4>
                        </div>
                        <div class="compare">
                            <a class="compare-btn" href="#">Get Deals</a>
                        </div>
                    </div>
                </div>

            </section>
        </body>

    </main>
    <section reviews>
        <div class="review-section">
            <h2>Ratings and Reviews</h2>

            <div class="overall-review">
                <div class="numbers">

                    <p>4.5 out of 5.5</p>
                </div>


                <div class="review-container">
                    <div contain>
                        <div class="stars-container">
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star">
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="progress-container">
                            <div class="progress-bar">
                                <div class="progress-bar-fill first"></div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-bar-fill second"></div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-bar-fill third"></div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-bar-fill fourth"></div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-bar-fill fifth"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile">
                <div class="pro-contain">
                    <div class="profile-pic">
                        <img src="../images/model.png" alt="profile-pic" />
                    </div>
                    <div class="content">
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Joe</p>
                        <p>joelawrence@gmail.com</p>
                        <address>California, USA</address>
                        <h4>Great App for shopping</h4>
                    </div>
                </div>
                <div class="time">
                    <p>2 days ago...</p>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="pro-contain">
                <div class="profile-pic">
                    <img src="../images/model1.png" alt="profile-pic" />
                </div>
                <div class="content">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Mary</p>
                    <p>maryrandy@gmail.com</p>
                    <address>Lagos, Nigeria</address>
                    <h4>I've been using this app for so long and I love it</h4>
                </div>
            </div>
            <div class="time">
                <p>15 days ago...</p>
            </div>
        </div>
        <div class="profile">
            <div class="pro-contain">
                <div class="profile-pic">
                    <img src="../images/model2.png" alt="profile-pic" />
                </div>
                <div class="content">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Bimbo</p>
                    <p>missbimbo@gmail.com</p>
                    <address>Abuja, Nigeria</address>
                    <h4>
                        I love it, very easy to use and have lots of affordable products
                    </h4>
                </div>
            </div>
            <div class="time">
                <p>1 month ago...</p>
            </div>
        </div>
    </section>

    <footer>
        <section class="footerContainer">

            <section class="Social_Icons">
                <div class="footLogo">
                    Wallet<span>friendly</span>
                </div>
                <div class="Icons">
                    <ul>
                        <li>
                            <a href="#"><img src="../images/social media icon/mail.svg" alt="mail icon"></a>
                        </li>
                        <li>
                            <a href="#"> <img src="../images/social media icon/twitter.svg" alt="twitter icon"> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="../images/social media icon/facebook.svg" alt="facebook icon"> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="../images/social media icon/youtube.svg" alt="youtube icon"> </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#"> <img src="../images/social media icon/instagram.svg" alt="instagram icon"></a>
                        </li>
                        <li>
                            <a href="#"> <img src="../images/social media icon/telegram.svg" alt="telegram icon"> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="../images/social media icon/tiktok.svg" alt="tiktok icon"> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="../images/social media icon/reddit.svg" alt="reddit icon"></a>
                        </li>
                    </ul>
            </section>
            <section categories>
                <p><strong>Categories</strong></p>
                <ul>
                    <li><a href="../template/hairAccessories.html">Accessories</a></li>
                    <li><a href="../template/boneStraight.html">Bone Straight</a></li>
                    <li><a href="../template/humanHair.html">Human Hairs</a></li>
                    <li><a href="../template/gadgetLaptops.html">Laptops</a></li>
                    <li><a href="../template/gadgetPhones.html">Mobile Phones</a></li>
                    <li><a href="../template/fashionMen.html">Men's Wear</a></li>
                    <li><a href="../template/fashionMen.html">Men's Shoes</a></li>
                    <li><a href="../template/fashionWomen.html">Women's Wear</a></li>
                    <li><a href="../template/fashionWomen.html">Women's Shoes</a></li>
                    <li><a href="../template/gadgettv.html">Smart TVs</a></li>
                </ul>
            </section>
            <section gadgetBrands>
                <p><strong>Gadgets Brands</strong></p>
                <ul>
                    <li><a href="../template/gadgettv.html">Apple TVs</a></li>
                    <li><a href="../template/gadgetLaptops.html">Dell</a></li>
                    <li><a href="../template/gadgettv.html">Hisense</a></li>
                    <li><a href="../template/gadgettv.html">Infinix Smart TVs</a></li>
                    <li><a href="../template/gadgetPhones.html">iPhones</a></li>
                    <li><a href="../template/gadgetPhones.html">Oppo</a></li>
                    <li><a href="../template/gadgetPhones.html">Samsung</a></li>
                    <li><a href="../template/fashion.html">Spectre</a></li>
                    <li><a href="../template/fashionMen.html">Polystar</a></li>
                    <li><a href="../template/fashionMen.html">Watches</a></li>
                </ul>
            </section>
            <section popularBrands>
                <p><strong>Popular Brands</strong></p>
                <ul>
                    <li><a href="http://www.amazon.com/" target="_blank">Amazon</a></li>
                    <li><a href="https://www.apple.com/ng/" target="_blank">Apple</a></li>
                    <li><a href="http://www.google.com/" target="_blank">Google</a></li>
                    <li><a href="https://www.lewisstores.co.za/" target="_blank">Lewi's</a></li>
                    <li><a href="https://www.microsoft.com/en-ng" target="_blank">Microsoft</a></li>
                    <li><a href="https://www.7up.com/" target="_blank">7up</a></li>
                    <li><a href="https://www.zara.com/" target="_blank">Zara</a></li>

                </ul>
            </section>
            <section About>
                <p><strong>About</strong></p>
                <ul>
                    <li><a href="#">About WalletFriendly</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="../template/team.html">Team</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="../template/contactUs.html">Contact Us</a></li>
                    <li><a href="../template/compareGadgets.html">Compare Prices</a></li>
                    <li><a href="../template/trendingNews.html">Latest News</a></li>
                    <li><a href="../template/review.html">Reviews</a></li>
                    <li><a href="../template/documentation.html">Documentation</a></li>

                </ul>
            </section>
        </section>


        <hr bottom>

        <section bottom>

            <div class="bottom">
                <p> <strong>Copyright 2022,</strong>WalletFriendly © <strong>All Rights Reserved</strong></p>
            </div>

        </section>

    </footer>

</body>

</html>