<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Human Hair</title>
    <link rel="stylesheet" href="/css/human_hair.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <section class="hero-section">
        <img src="/images/human hair/Rectangle 9.png" alt="" />
        <img src="/images/human hair/Rectangle 10.png" alt="" />
        <img src="/images/human hair/Rectangle 11.png" alt="" />
        <img src="/images/human hair/Rectangle 12.png" alt="" />
        <img src="/images/human hair/Rectangle 13.png" alt="" />
        <img src="/images/human hair/Rectangle 14.png" alt="" />
      </section>

      <aside class="filter">
        <h2>Filters</h2>
        <input search type="text" placeholder="Search A-Z" name="" id="" />
        <p search-text>
          Search Alphabetically or apply some filters <br />
          from below
        </p>
        <span>Search A-Z</span>

        <h2>Price</h2>
        <div class="amount">
          <input type="tel" placeholder="Min" name="min" id="min" />
          to
          <input type="tel" placeholder="Max" name="max" id="max" />
        </div>

        <div class="popular">
          <h3>Popular Hair Types</h3>
          <div>
            <a href="#"> Human Hair Blend </a>
          </div>
          <div>
            <a href="#">Synthetic</a>
          </div>
          <div>
            <a href="#">Human hair/Bone straight</a>
          </div>

          <div><a href="#">See more...</a></div>
        </div>

        <div class="stores">
          <h3>Stores</h3>
          <div>
            <a href="#"> Naijabeautyhair </a>
          </div>
          <div>
            <a href="#">YendyhairKulture</a>
          </div>
          <div>
            <a href="#">Hairbyginika</a>
          </div>
          <div><a href="#">See more...</a></div>
        </div>
        <div load-more><a href="">Load more</a></div>
      </aside>

      <div container>
        <section class="iPhone main-content">
          <h2>Human Hair</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="/images/human hair/image 33.png" alt="" />
              </div>
              <div>
                <h4>300% Raw straight <br />4 x 4 closure</h4>
                <p>N150,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/human hair/image-22.png"
                  alt="Double Drawn 3 x 6 Bob Wig"
                />
              </div>
              <div>
                <h4>Double Drawn 3 x 6 Bob Wig</h4>
                <p>N120,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/human hair/image 26.png"
                  alt="Water wave Compact Frontal Wig"
                />
              </div>
              <div>
                <h4>Water wave Compact Frontal Wig</h4>
                <p>N180,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="samsung main-content">
          <h2>Bone Straight(<span sub>Based on common search</span>)</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="/images/human hair/image 34.png"
                  alt="Double drawn Bone straight"
                />
              </div>
              <div>
                <h4>Double drawn Bone straight<br />Closure Wig</h4>
                <p>N108,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/human hair/image 35.png"
                  alt="Layered Bone Straight Wig"
                />
              </div>
              <div>
                <h4>Layered Bone Straight Wig</h4>
                <p>N150,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/human hair/image 33-1.png"
                  alt="Double drawn Bone straight Hair Bundles"
                />
              </div>
              <div>
                <h4>Double drawn Bone straight Hair Bundles</h4>
                <p>N22,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="tecno main-content">
          <h2>Accessories</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="/images/human hair/image 42.png"
                  alt="Got2b Glue Set"
                />
              </div>
              <div>
                <h4>Got2b Glue Set</h4>
                <p>N10,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="/images/human hair/image 41.png" alt="Ghost bond" />
              </div>
              <div>
                <h4>Ghost bond</h4>
                <p>N4,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="/images/human hair/image 37.png" alt="Hot comb" />
              </div>
              <div>
                <h4>Hot comb</h4>
                <p>N12,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="hot-deals main-content">
          <h2>Hot Deals</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="/images/human hair/image 47.png"
                  alt="Straightener + Hair Oil"
                />
              </div>
              <div>
                <p>45% discount</p>
                <h4>Straightener + Hair Oil</h4>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/human hair/image 47-1.png"
                  alt="Pixie cut Frontal Lace Wig"
                />
              </div>
              <div>
                <p>40% discount</p>
                <h4>Pixie cut Frontal Lace Wig</h4>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section reviews>
        <i class="fas fa-star"></i>
      </section>
    </main>
  </body>
</html>
