<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WalletFriendly</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>

        <section class="head_section">
            <div class="logo">
                <img src="/images/Asset 3.png" alt="Logo">
            </div>
            <div class="search_bar">
                <input type="search" placeholder="Search Product, brand" name="search" id="search_bar">
                <span>icon</span>
            </div>
            <div class="login">
                <button class="signInButton">Sign In</button>

            </div>

        </section>



        <nav id="nav_bar">

            <div class="navLinks">

                <ul>
                    <li class="active"> <a href="#"> Home</a></li>
                    <li> <a href="#"> Fashion</a>
                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>

                            </ul>


                        </div>
                    </li>



                    <li> <a href="#"> Gadget</a>

                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>

                            </ul>


                        </div>

                    </li>
                    <li> <a href="#"> Hair</a>

                        <div class="subMenu1">
                            <ul class="linkPages">
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>
                                <li><a href="#">iiuasbu</a></li>

                            </ul>


                        </div>

                    </li>
                    <li> <a href="#"> Other</a></li>
                    <li> <a href="#"> Compare</a></li>
                </ul>
            </div>

        </nav>

        <main>
            <section class="promotionContainer">
                <div promotions>
                    <figure>

                        <img src="/images/alexander-andrews-Wzs4-QEmCUQ-unsplash.jpg" alt="">
                        <figcaption>Promotion/Offers</figcaption>

                    </figure>
                    <p>N580,000</p>
                </div>
                <div comparisons>
                    <div class="image1">
                        <figure>
                            <img src="/images/aram-sabah-smVUoz8CSCw-unsplash.jpg" alt="">
                            <figcaption>
                                <p>GSM/LTE/5G</p>
                                <p>Super Retina XDR OLED </p>
                                <p>iOS 15, up to iOS 15.6</p>

                            </figcaption>
                        </figure>
                    </div>

                    <div class="image2">
                        <figure>
                            <img src="/images/max-whitehead-nRKzAy4w6mE-unsplash.jpg" alt="">

                            <figcaption>
                                <p>GSM/CDMA/HSPA/LTE/5G</p>
                                <p>Dynamic AMOLED 2, 120Hz</p>
                                <p>Dynamic AMOLED 2, 120Hz</p>

                            </figcaption>
                        </figure>
                    </div>


                </div>



            </section>

            <aside>
                <div class="filter">
                    <h2>Filters</h2>
                    <input type="search" placeholder="Search A-Z" search name="search" id="filter">

                    <p class="text">Search Alphabetically or Apply some <br> Filters from below</p>

                    <!-- <span>Search A - Z</span> -->

                    <div priceText>
                        Price
                    </div>
                    <div class="input">
                        <input type="number" price name="min" id="min" placeholder="Min">
                        to
                        <input type="number" price name="max" id="max" placeholder="Max">
                    </div>
                    <div class="brands">
                        <h4>Popular Brands</h4>
                        <ul>
                            <li> <a href="#">Shein</a> <input type="checkbox" name="" id=""> </li>
                            <li><a href="#">Zara</a> <input type="checkbox" name="" id=""> </li>
                        </ul>
                        <span>See more...</span>

                    </div>
                    <div class="stores">
                        <h4>Stores</h4>
                        <ul>
                            <li> <a href="#">Fashionnova</a> <input type="checkbox" name="" id=""></li>
                            <li><a href="#">Jumia</a> <input type="checkbox" name="" id=""> </li>
                            <li><a href="#">Aliexpress</a> <input type="checkbox" name="" id=""> </li>

                        </ul>
                        <span>See more...</span>

                    </div>
                    <div class="loadMore">
                        Load more
                    </div>


                </div>

            </aside>

            <hr>


        </main>

        <footer>
            <section class="footerContainer">

                <section class="Social_Icons">
                    <div class="footLogo">
                        <img src="/images/Asset 3.png" alt="">
                    </div>
                    <div class="Icons">
                        <ul>
                            <li> <a href="#"> <img src="/facebook.png" alt=""> icons</a> </li>
                            <li> <a href="#"> <img src="/twitter.png" alt=""> icons </a> </li>
                            <li> <a href="#"> <img src="/instagram.png" alt=""> icons</a> </li>
                            <li> <a href="#"> <img src="/youtube.png" alt=""> icons</a> </li>
                        </ul>
                        <ul>
                            <li> <a href="#"> <img src="/facebook.png" alt=""> icons</a> </li>
                            <li> <a href="#"> <img src="/twitter.png" alt=""> icons</a> </li>
                            <li> <a href="#"> <img src="/instagram.png" alt=""> icons </a> </li>
                            <li> <a href="#"> <img src="/youtube.png" alt=""> icons</a> </li>
                        </ul>

                    </div>

                </section>

                <section categories>
                    <p><strong>Categories</strong></p>
                    <ul>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Bone Straight</a></li>
                        <li><a href="#">Human Hairs</a></li>
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">Mobile Phones</a></li>
                        <li><a href="#">Men's Wear</a></li>
                        <li><a href="#">Men's Shoes</a></li>
                        <li><a href="#">Women's Wear</a></li>
                        <li><a href="#">Women's Shoes</a></li>
                        <li><a href="#">Smart TVs</a></li>
                    </ul>
                </section>
                <section gadgetBrands>
                    <p><strong>Gadgets Brands</strong></p>
                    <ul>
                        <li><a href="#">Apple TVs</a></li>
                        <li><a href="#">Dell</a></li>
                        <li><a href="#">Hisense</a></li>
                        <li><a href="#">Infinix Smart TVs</a></li>
                        <li><a href="#">iPhones</a></li>
                        <li><a href="#">Oppo</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Spectre</a></li>
                        <li><a href="#">Polystar</a></li>
                        <li><a href="#">Watches</a></li>
                    </ul>
                </section>
                <section popularBrands>
                    <p><strong>Popular Brands</strong></p>
                    <ul>
                        <li><a href="#">Amazon</a></li>
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Google</a></li>
                        <li><a href="#">Lewi's</a></li>
                        <li><a href="#">Microsoft</a></li>
                        <li><a href="#">7up</a></li>
                        <li><a href="#">Zara</a></li>

                    </ul>
                </section>
                <section About>
                    <p><strong>About</strong></p>
                    <ul>
                        <li><a href="#">About WalletFriendly</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Compare Prices</a></li>
                        <li><a href="#">Latest News</a></li>

                    </ul>
                </section>
            </section>


            <hr bottom>

            <section bottom>

                <div class="bottom">
                    <p> <strong>Copyright 2022,</strong>WalletFriendly © <strong>All Rights Reserved</strong></p>
                </div>
                <div class="contact">
                    <a href="#">Contact Us</a>
                    <div class="box"></div>
                    <a href="#">Privacy Policy</a>
                    <div class="box"></div>
                    <a href="#"> Terms of Service</a>
                </div>
            </section>

        </footer>

</body>

</html>