<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trending News</title>
    <link rel="stylesheet" href="../css/trendingNews.css" />
    <script src="../script/sidebar.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <section class="head_section">
        <div class="icons">
          <div id="menu-bar" class="fas fa-bars"></div>
        </div>
        <nav class="navbar">
          <div class="user">
            <img src="../images/model.png" alt="" />

            <h4>John Doe</h4>
          </div>

          <div class="links">
            <a href="./index.html">Home</a>

            <a href="./AboutUs.html">About</a>

            <a href="./team.html">Team</a>

            <a href="./faq.html">FAQ</a>

            <a href="./contactUs.html">Contact Us</a>
          </div>

          <div id="close" class="fas fa-times"></div>
        </nav>
        <div class="logo">Wallet<span>friendly</span></div>
        <!-- <div class="search_bar">
					<input
						type="search"
						placeholder="Search Product, brand"
						name="search"
						id="search_bar"
					/>
				</div> -->
        <div class="top-link">
          <ul>
            <li><a href="./AboutUs.html">About</a></li>
            <li><a href="./team.html">Team</a></li>
            <li><a href="./faq.html">FAQs</a></li>
            <li><a href="./contactUs.html">Contact</a></li>
          </ul>
        </div>
        <div class="login">
          <div>
            <span class="material-symbols-outlined">person</span>
            <button class="signInButton">
              <a href="../template/Login.html"> Login </a>
            </button>
          </div>
          <div>
            <span class="material-symbols-outlined">shopping_cart</span>
          </div>
        </div>
      </section>

      <nav id="nav_bar">
        <div class="nav-links nav-list">
          <ul>
            <li fashion>
              <a href="../template/fashion.html"> Fashion</a>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="../template/fashionMen.html">Men's Clothing</a>
                  </li>
                  <li>
                    <a href="../template/fashionWomen.html">Women's Clothing</a>
                  </li>
                  <li><a href="../template/fashionMen.html">Men's Shoes</a></li>
                  <li>
                    <a href="../template/fashionWomen.html">Women's Shoes</a>
                  </li>
                </ul>
              </div>
            </li>

            <li gadget>
              <a href="../template/gadgetHompage.html"> Gadget</a>

              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="../template/gadgetPhones.html">Mobile Phones</a>
                  </li>
                  <li><a href="../template/gadgetLaptops.html">Laptops</a></li>
                  <li><a href="../template/gadgettv.html">Smart TVs</a></li>
                </ul>
              </div>
            </li>
            <li hair>
              <a href="../template/hairHomePage.html"> Hair</a>

              <div class="subMenu1">
                <ul class="linkPages">
                  <li><a href="../template/humanHair.html">Human Hair</a></li>
                  <li>
                    <a href="../template/boneStraight.html">Bone Straight</a>
                  </li>
                  <li>
                    <a href="../template/hairAccessories.html">Accessories</a>
                  </li>
                </ul>
              </div>
            </li>
            <li compare>
              <a href="../template/compareGadgets.html"> Compare</a>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href="../template/compareGadgets.html">By Price</a>
                  </li>
                  <li>
                    <a href="../template/compareGadgets.html">By Brand</a>
                  </li>
                  <li>
                    <a href="../template/compareGadgets.html">By Rating</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="news-section">
        <div class="newsImage">
          <img src="../images/trendingNews/appleNews.png" alt="apple icon" />
        </div>
        <div class="news-content">
          <p class="pContent">
            Apple on Monday unveiled iOS 16 for the iPhone. The update which is
            expected to be available this fall includes improvements to the
            iPhone's lock screen with revamped notifications and widgets,
            improvements to iMessage conversations, and changes to the Mail app.
          </p>
          <p class="pContent">
            When the free update arrives — likely in September based on Apple's
            previous release schedule — there will be a handful of iPhone models
            that currently run iOS 15 that will be left behind.
          </p>
          <div>
            According to a list of compatible devices posted on Apple's iOS 16
            preview website, the following iPhones are compatible with iOS 16:
            <div>
              <a href="https://www.apple.com/ng/" target="_blank">APPLE</a>
            </div>
            <div>
              <a href="https://www.zdnet.com/article/best-iphone/"
                >8 best iPhone models: Which is right for you?</a
              >
            </div>
            <div>
              <a
                href="https://www.zdnet.com/article/your-iphone-battery-is-lying-to-you-in-weird-ways/"
                target="_blank"
                >Your iPhone battery is lying to you in weird ways</a
              >
            </div>
            <div>
              <a
                href="https://www.zdnet.com/article/of-course-people-will-buy-a-1000-apple-watch-pro/"
                target="_blank"
                >Of course people will buy a $1,000 Apple Watch Pro</a
              >
            </div>
            <div>
              <a
                href="https://www.zdnet.com/article/apple-previews-lockdown-mode-a-new-extreme-security-feature/"
                target="_blank"
                >Apple previews Lockdown Mode, a new extreme security feature</a
              >
            </div>
            <div>
              <a href="https://www.apple.com/ng/iphone-13/" target="_blank"
                >iPhone 13</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/ng/iphone-13/specs/"
                target="_blank"
                >iPhone 13 mini</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/iphone-13-pro/key-features/"
                target="_blank"
                >iPhone 13 Pro</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/ng/iphone-13-pro/specs/"
                target="_blank"
                >iPhone 13 Pro Max</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/ng/iphone-12/specs/"
                target="_blank"
                >iPhone 12</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/ng/iphone-12/specs/"
                target="_blank"
                >iPhone 12 mini</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/ng/iphone-12/specs/"
                target="_blank"
                >iPhone 12 Pro</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/ng/iphone-12/specs/"
                target="_blank"
                >iPhone 12 Pro Max</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/ng/iphone-11/specs/"
                target="_blank"
                >iPhone 11</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/shop/refurbished/iphone/iphone-11-pro"
                target="_blank"
                >iPhone 11 Pro</a
              >
            </div>
            <div>
              <a
                href="https://www.apple.com/ng/newsroom/2019/09/iphone-11-pro-and-iphone-11-pro-max-the-most-powerful-and-advanced-smartphones/"
                target="_blank"
                >iPhone 11 Pro Max</a
              >
            </div>
            <div>
              <a
                href="https://www.amazon.com/Apple-iPhone-64GB-Space-Gray/dp/B07SC58QBW"
                target="_blank"
                >iPhone XS</a
              >
            </div>
            <div>
              <a
                href="https://www.gadgetsnow.com/mobile-phones/Apple-iPhone-XS-Max"
                target="_blank"
                >iPhone XS Max</a
              >
            </div>
            <div>
              <a
                href="https://www.amazon.com/Apple-iPhone-XR-Fully-Unlocked/dp/B07P978C2R"
                target="_blank"
                >iPhone XR</a
              >
            </div>
            <div>
              <a
                href="https://www.gsmarena.com/apple_iphone_x-8858.php"
                target="_blank"
                >iPhone X</a
              >
            </div>
            <div>
              <a
                href="https://www.gsmarena.com/apple_iphone_8-8573.php"
                target="_blank"
                >iPhone 8</a
              >
            </div>
            <div>
              <a
                href="https://www.gsmarena.com/apple_iphone_8_plus-8131.php"
                target="_blank"
                >iPhone 8 Plus</a
              >
            </div>
            <div>
              <a href="https://www.apple.com/ng/iphone-se/" target="_blank"
                >iPhone SE (2nd generation or later)</a
              >
            </div>
            <p>
              Last year's list looks nearly identical starting with the iPhone 8
              or newer. But not included on this year's list is all iPhone 6 and
              iPhone 7 models, along with the original iPhone SE. All three
              models will be stuck on iOS 15 (and subsequent security updates)
              once iOS 16 is released
            </p>
          </div>
        </div>
      </div>
      <div class="news-section">
        <div class="amazon-image">
          <img src="../images/trendingNews/amazonNews.png" alt="amazon icon" />
        </div>
        <div class="news-content">
          <p class="pContent">
            The way customers shop is constantly evolving. The pandemic has
            transformed the “what, why, and how” of consumer preference. As
            people navigate new remote and flexible lives, fast and convenient
            delivery has become paramount. At the same time, we’re witnessing a
            shift to more sustainable lifestyles and modes of transportation.
          </p>
          <p class="pContent">
            Amazon Scout, our fully electric and autonomous delivery device, is
            helping us meet these new and rising standards, and has continued to
            make deliveries to our customers during the pandemic. I’m happy to
            share that Scout has been received with enthusiasm in the various
            communities in which it operates, including Snohomish County in
            Washington state; Irvine, California; Atlanta, Georgia; and
            Franklin, Tennessee. Its development is an ongoing collaboration
            with customers, who are helping us refine various aspects of the
            service.
          </p>
          <p class="pContent">
            An image of kids looking at a Scout Robot in front of their house.
            The robot has Halloween decorations on it.As the first home to
            Amazon, Washington state has led the charge in helping us test this
            new delivery device, including customers in Everett, the largest
            city in Snohomish County. “Everett residents are at the forefront of
            innovation by pioneering Scout,” Everett Mayor Cassie Franklin said.
            “Their feedback on the service will help shape the future of
            low-emission deliveries in our community and others across the
            country.”
          </p>
          <p class="pContent">
            We have also had the opportunity to work with advocacy groups to
            make Scout more accessible. For instance, we partnered with the
            World Institute on Disability to test Scout’s interactions with
            people with disabilities. These engagements have contributed to our
            ongoing efforts toward improving Scout’s behavior when it encounters
            people with disabilities out in the world.
          </p>
          <p class="pContent">
            Rather than fundamentally changing the way we operate, Scout is
            designed to enhance the delivery experience for our customers.
            Customers order as they normally would on the Amazon app or on
            amazon.com and enjoy the same delivery options—including free
            Same-Day, One-Day, and Two-Day shipping for Prime members. Their
            Amazon packages are then delivered by one of our trusted partner
            carriers or by Scout.
          </p>
        </div>
      </div>
      <div class="news-section">
        <div class="amazon-image">
          <img
            src="../images/trendingNews/bloombergNews.png"
            alt="bloomberg icon"
          />
        </div>
        <div class="news-content">
          <p class="pContent">
            Global food prices fell the most since 2008 after concerns over
            supplies of grains and vegetable oils eased as Ukraine moved toward
            restarting exports.
          </p>
          <p class="pContent">
            A United Nations index of world food costs plunged almost 9% in
            July. The index fell to the lowest since January, before Russia’s
            blockade of ports in Ukraine -- a major food exporter -- pushed up
            food costs to a record.
          </p>
        </div>
      </div>
      <div class="news-section">
        <div class="amazon-image">
          <img src="../images/trendingNews/yahooNews.png" alt="yahoo icon" />
        </div>
        <div class="news-content">
          <p class="pContent">
            Democrats' plan to control drug prices for 180 million Americans
            with private health insurance has suffered yet another setback.
          </p>
          <p class="pContent">
            The Senate parliamentarian ruled Saturday that a core piece of the
            party’s plan can’t pass the chamber with fewer than 60 votes,
            following arguments from both parties last week.
          </p>
          <p class="pContent">
            Albeit a blow to the majority party, which had hoped to campaign
            this fall on lowering drug prices for all Americans, the nonpartisan
            parliamentarian’s vetting means the core of the plan Democrats are
            trying to steer past the GOP filibuster is finally cleared for floor
            debate, more than a year after they began crafting the far more
            sweeping version once called Build Back Better.
          </p>
          <p class="pContent">
            Yet the plan will now move forward without a provision that would
            have penalized drugmakers for hiking costs faster than inflation in
            private insurance plans as well as Medicare.
          </p>
          <p class="pContent">
            The exclusion of the private insurance price limits means there is
            little left that will reduce costs for the vast majority of
            Americans who receive health insurance through their private sector
            employer. Democrats are still waiting on a separate parliamentarian
            ruling on their policy to cap the cost of insulin both inside and
            outside of Medicare.
          </p>
          <p class="pContent">
            The decision also means tens of billions less in federal savings in
            the bill overall, a potential threat to Democrats' hopes of
            offsetting the cost for shoring up Obamacare's subsidies.
          </p>
          <p class="pContent">
            Still, Democrats argue that the bill will move forward in the coming
            weeks with its most important provision intact: a repeal of the
            longstanding ban on the federal government directly negotiating drug
            prices with pharmaceutical companies.
          </p>
          <p class="pContent">
            Senate Majority Leader Chuck Schumer called the parliamentarian's
            ruling "good news" in a statement Saturday.
          </p>
          <p class="pContent">
            "Medicare will finally be allowed to negotiate prescription drug
            prices, seniors will have free vaccines and their costs capped, and
            much more," he said.
          </p>
          <p class="pContent">
            Rep. Peter Welch (D-Vt.), a key negotiator on the House version of
            the bill, said the provision "would break the iron curtain Big
            Pharma has maintained against negotiating drug prices, and that’s
            game-changing. If it passes, Pharma won’t be able to continually
            stick it to the consumer at their will and whim. And that’s
            especially important with inflation hammering folks at the pump and
            the grocery store."
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
