{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gadget Phones</title>
    <link rel="stylesheet" href="/static/css/gadgetPhones.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <section class="hero-section">
        <img src="/images/gadget and phones/Rectangle 9.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 10.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 11.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 12.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 13.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 14.jpg" alt="" />
      </section>

      <aside class="filter">
        <h2>Filters</h2>
        <input search type="text" placeholder="Search A-Z" name="" id="" />
        <p search-text>
          Search Alphabetically or apply some filters <br />
          from below
        </p>
        <span>Search A-Z</span>

        <h2>Price</h2>
        <div class="amount">
          <input type="tel" placeholder="Min" name="min" id="min" />
          to
          <input type="tel" placeholder="Max" name="max" id="max" />
        </div>

        <div class="popular">
          <h3>Popular Phones</h3>
          <div>
            <a href="#"> Apple IPhone </a>
          </div>
          <div>
            <a href="#">Samsung</a>
          </div>
          <div>
            <a href="#">Oppo</a>
          </div>
          <div><a href="#">See more...</a></div>
        </div>

        <div class="popular">
          <h3>Popular Laptops</h3>
          <div>
            <a href="#">Hp</a>
          </div>
          <div>
            <a href="#">MacBook</a>
          </div>
          <div>
            <a href="#">Dell</a>
          </div>
          <div><a href="#">See more...</a></div>
        </div>
        <div class="popular">
          <h3>Popular Smart Tvs</h3>
          <div>
            <a href="#">Infinix</a>
          </div>
          <div>
            <a href="#">Hisense</a>
          </div>
          <div>
            <a href="#">Sony</a>
          </div>
          <div><a href="#">See more...</a></div>
        </div>

        <div class="stores">
          <h3>Stores</h3>
          <div>
            <a href="#"> Konga </a>
          </div>
          <div>
            <a href="#">Jumia</a>
          </div>
          <div>
            <a href="#">AliExpress</a>
          </div>
          <div><a href="#">See more...</a></div>
        </div>
        <div load-more><a href="">Load more</a></div>
      </aside>

      <div container>
        <section class="iPhone main-content">
          <h2>Mobile Phones</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="/images/gadget and phones/Frame 102.png" alt="" />
              </div>
              <div>
                <h4>
                  Apple Iphone 13 Pro Max 6.7 Super Retina XDR Display (6GB RAM
                  +256GB ROM), IOS 15 - Graphite
                </h4>
                <p>N850,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="/images/gadget and phones/Frame 103.png" alt="" />
              </div>
              <div>
                <h4>
                  Samsung Galaxy A53, 6.5" Super AMOLED Screen,(6GB RAM +128GB
                  ROM),Android 12 - Peach
                </h4>
                <p>N250,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="/images/gadget and phones/Frame 104.png" alt="" />
              </div>
              <div>
                <h4>
                  Oppo A96,6.59',Sunset Blue (8RAM +256GB ROM),5OMP + 2MP
                  Rear,16MP Selfie
                </h4>
                <p>N168,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="samsung main-content">
          <h2>Laptops</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="/images/gadget and phones/po.png" alt="" />
              </div>
              <div>
                <h4>
                  Apple MacBook Pro 14" M1 Pro Chip 16GB RAM,512GB(2021 Model)
                </h4>
                <p>N1,350,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="/images/gadget and phones/ol.png" alt="" />
              </div>
              <div>
                <h4>
                  Hp Pavilion 15- Intel I5 - 16GB RAM - Keyboard Light
                  Touch,512GB SSD -11TH GEN Windows 1
                </h4>
                <p>N405,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="/images/gadget and phones/rry.png" alt="" />
              </div>
              <div>
                <h4>
                  Dell Inspiron 15 3510 - Intel Pentium Silver N5030,128GB
                  SSD,4GB RAM Windows 11
                </h4>
                <p>N204,500</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="tecno main-content">
          <h2>Smart Televisions</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="/images/gadget and phones/oliu.png" alt="" />
              </div>
              <div>
                <h4>
                  Sony 50W660 Bravia 50" Digital Smart FHD Tv With Andriod OS
                </h4>
                <p>N307,800</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="/images/gadget and phones/ioio.png" alt="" />
              </div>
              <div>
                <h4>Hisense 43" Full High Definition LED Smart Tv With WiFi</h4>
                <p>N165,700</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img src="/images/gadget and phones/8i.png" alt="" />
              </div>
              <div>
                <h4>Infinity 50" Smart Full HD LED 4K Screen Tv</h4>
                <p>N170,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="hot-deals main-content">
          <h2>Hot Deals</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img src="/images/gadget and phones/HISENSE 2 1.png" alt="" />
              </div>
              <div>
                <p>25% discount</p>
                <h4>Hisense 55 Inches Smart 4K UHD Tv</h4>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/IPHONE 11 PRO 1.png"
                  alt=""
                />
              </div>
              <div>
                <p>15% discount</p>
                <h4>Apple Iphone 11 Pro Max</h4>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section reviews>
        <i class="fas fa-star"></i>
      </section>
    </main>
  </body>
</html>
