<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gadget Phones</title>
    <link rel= "stylesheet" href="../css/gadgetPhones.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <section class="hero-section">
        <img src="/images/gadget and phones/Rectangle 9.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 10.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 11.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 12.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 13.jpg" alt="" />
        <img src="/images/gadget and phones/Rectangle 14.jpg" alt="" />
      </section>

      <aside class="filter">
        <h2>Filters</h2>
        <input search type="text" placeholder="Search A-Z" name="" id="" />
        <p search-text>
          Search Alphabetically or apply some filters <br />
          from below
        </p>
        <span>Search A-Z</span>

        <h2>Price</h2>
        <div class="amount">
          <input type="tel" placeholder="Min" name="min" id="min" />
          to
          <input type="tel" placeholder="Max" name="max" id="max" />
        </div>

        <div class="popular">
          <h3>Popular Brands</h3>
          <div>
            <a href="#"> HP </a>
          </div>
          <div>
            <a href="#">Dell</a>
          </div>

          <div><a href="#">See more...</a></div>
        </div>

        <div class="stores">
          <h3>Stores</h3>
          <div>
            <a href="#"> Konga </a>
          </div>
          <div>
            <a href="#">Jumia</a>
          </div>
          <div>
            <a href="#">AliExpress</a>
          </div>
          <div><a href="#">See more...</a></div>
        </div>
        <div load-more><a href="">Load more</a></div>
      </aside>

      <div container>
        <section class="iPhone main-content">
          <h2>HP Laptops</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="images/gadget and phones/laptop/Spectre x360.png"
                  alt=""
                />
              </div>
              <div>
                <h4>Hp Spectre x360</h4>
                <p>N307,806</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/download (3) 1.png"
                  alt=""
                />
              </div>
              <div>
                <h4>Hp Probook 445 G8</h4>
                <p>N270,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/download (4) 1.png"
                  alt=""
                />
              </div>
              <div>
                <h4>Hp Pavillion 15</h4>
                <p>N198,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="samsung main-content">
          <h2>Dell Laptops</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/download (5) 1.png"
                  alt=""
                />
              </div>
              <div>
                <h4>Dell XPS 17</h4>
                <p>N237,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/images (2) 1.png"
                  alt=""
                />
              </div>
              <div>
                <h4>Dell Inspiron 15</h4>
                <p>N190,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/download (6) 1.png"
                  alt=""
                />
              </div>
              <div>
                <h4>Dell Latitude E744O</h4>
                <p>N90,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="tecno main-content">
          <h2>MacBooks</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/download (7) 1.png"
                  alt=""
                />
              </div>
              <div>
                <h4>MacBook Air 2020</h4>
                <p>N655,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/images (4) 1.png"
                  alt=""
                />
              </div>
              <div>
                <h4>MacBook Pro Corei5</h4>
                <p>N875,000</p>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/images (5) 1.png"
                  alt=""
                />
              </div>
              <div>
                <h4>MacBook Air 2019</h4>
                <p>N434,000</p>
              </div>
            </div>
          </div>
          <div see_more>
            <a href="#">See more...</a>
          </div>
        </section>

        <section class="hot-deals main-content">
          <h2>Hot Deals</h2>
          <div class="preview">
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/images (6) 1.png"
                  alt=""
                />
              </div>
              <div>
                <p>25% discount</p>
                <h4>Acer 2022</h4>
              </div>
            </div>
            <div class="box">
              <div>
                <img
                  src="/images/gadget and phones/laptop/download (8) 1.png"
                  alt=""
                />
              </div>
              <div>
                <p>15% discount</p>
                <h4>Hp CES 2022</h4>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section reviews>
        <i class="fas fa-star"></i>
      </section>
    </main>
  </body>
</html>