{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gadgets Comparison</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="{% static 'css/gadgetPhones.css' %}" />
		<link rel="stylesheet" href="../css/comparePage.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
	</head>
		{% block maincontent %}
		<section id="Compare-main" role="main">
			<div class="compare-drop">
				<div class="nav-links compare">
					<ul>
						<li compare>
							<a class="title" href="#"> Gadgets </a>
							<div class="subMenu1">
								<ul class="linkPages compare">
									<li><a href="#">Mobiles</a></li>
									<li><a href="#">Laptops</a></li>
									<li><a href="#">Smart Tvs</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>

				<div class="compare__product-box">
					<div class="product-box--main">
						<p class="product-box__text">Add Product</p>
						<div class="compare__checkbox"></div>
					</div>

					<div class="product-box--main">
						<p class="product-box__text">Remove Product</p>
						<div class="compare__checkbox"></div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h1 class="compare-product--title">
				<div class="compare__product-text">Apple iPhone 13 Pro</div>
				<!-- <div class="compare__product-text">Vs</div>
        <div class="compare__product-text">Apple iPhone 13 Pro</div> -->
			</h1>
			<div class="compare-product--content">
				<div class="compare-product__box">
					<div class="compare-product__img-box">
						<img
							src="{% static "images/gadget and phones/iphone 13 pro max 1.png" %}"
							alt=""
							class=""
						/>
					</div>
					<p class="compare__product__text">
						Apple iPhone 13 Pro <br />
						(Max 5G Dial SIM 6GB RAM)
					</p>
					<div class="compare-product__rating">
						<img
							src="{% static "/images/social media icon/4star.svg" %}"
							alt=""
							class=""
						/>
					</div>
					<p class="compare-product__price-text">£924.00</p>
				</div>

				<div div class="compare-product__box">
					<div class="compare-product__img-box">
						<img
							src="{% static "/images/gadget and phones/iphone 13 pro max 1.png" %}"
							alt=""
							class=""
						/>
					</div>
					<p class="compare__product__text">
						Apple iPhone 13 Pro <br />
						(Max 5G Dial SIM 6GB RAM)
					</p>
					<div class="compare-product__rating">
						<img
							src="{% static "/images/social media icon/4star.svg" %}"
							alt=""
							class=""
						/>
					</div>
					<p class="compare-product__price-text">£924.00</p>
				</div>
			</div>
		</section>

		<section>
			<h2 class="">Features</h2>
			<div class="features-grid">
				<div class="features__container">
					<div class="features__content">
						<div class="features__text">Release year</div>
						<div class="features__text">Release year</div>
					</div>
					<div class="features__content">
						<div class="features__text">Height</div>
						<div class="features__text">160.8mm</div>
					</div>
					<div class="features__content">
						<div class="features__text">width</div>
						<div class="features__text">78.1m</div>
					</div>
					<div class="features__content">
						<div class="features__text">Common Brand Colour</div>
						<div class="features__text">Ash</div>
					</div>
					<div class="features__content">
						<div class="features__text">Warranty</div>
						<div class="features__text">18months</div>
					</div>
					<div class="features__content">
						<div class="features__text">18months</div>
						<div class="features__text">Yes</div>
					</div>
					<div class="features__content">
						<div class="features__text">Operating System</div>
						<div class="features__text">Apple IOS 15</div>
					</div>
					<div class="features__content">
						<div class="features__text">RAM size</div>
						<div class="features__text">6GB</div>
					</div>
					<div class="features__content">
						<div class="features__text">Storage</div>
						<div class="features__text">256Gb</div>
					</div>
					<div class="features__content">
						<div class="features__text">Battery</div>
						<div class="features__text">4352 mAh</div>
					</div>
					<div class="features__content">
						<div class="features__text">No of Rear Camera</div>
						<div class="features__text">3</div>
					</div>
					<div class="features__content">
						<div class="features__text">5G LTE</div>
						<div class="features__text">Yes</div>
					</div>
					<div class="features__content">
						<div class="features__text">Dual Sim</div>
						<div class="features__text">Yes</div>
					</div>
					<div class="features__content">
						<div class="features__text">Front Camera</div>
						<div class="features__text">yes</div>
					</div>
					<div class="features__content">
						<div class="features__text">Security</div>
						<div class="features__text">Face scanner</div>
					</div>
					<div class="features__content">
						<div class="features__text">Processor</div>
						<div class="features__text">3.22GHz</div>
					</div>
					<div class="features__content">
						<div class="features__text">Memory Card Reader</div>
						<div class="features__text">No</div>
					</div>
					<div class="features__content">
						<div class="features__text">
							Maximum Resolution(Highest Frame Rate)
						</div>
						<div class="features__text">1920x1080 (HD 1080)pixels</div>
					</div>
					<div class="features__content">
						<div class="features__text">Bluetooth Version</div>
						<div class="features__text">5.0</div>
					</div>
					<div class="features__content">
						<div class="features__text">Data connector</div>
						<div class="features__text">Lightning</div>
					</div>
					<div class="features__content">
						<div class="features__text">Built-in-Wireless Charging</div>
						<div class="features__text">Yes</div>
					</div>
				</div>
				<div class="features__container">
					<div class="features__content">
						<div class="features__text">Release year</div>
						<div class="features__text">Release year</div>
					</div>
					<div class="features__content">
						<div class="features__text">Height</div>
						<div class="features__text">160.8mm</div>
					</div>
					<div class="features__content">
						<div class="features__text">width</div>
						<div class="features__text">78.1m</div>
					</div>
					<div class="features__content">
						<div class="features__text">Common Brand Colour</div>
						<div class="features__text">Ash</div>
					</div>
					<div class="features__content">
						<div class="features__text">Warranty</div>
						<div class="features__text">18months</div>
					</div>
					<div class="features__content">
						<div class="features__text">18months</div>
						<div class="features__text">Yes</div>
					</div>
					<div class="features__content">
						<div class="features__text">Operating System</div>
						<div class="features__text">Apple IOS 15</div>
					</div>
					<div class="features__content">
						<div class="features__text">RAM size</div>
						<div class="features__text">6GB</div>
					</div>
					<div class="features__content">
						<div class="features__text">Storage</div>
						<div class="features__text">256Gb</div>
					</div>
					<div class="features__content">
						<div class="features__text">Battery</div>
						<div class="features__text">4352 mAh</div>
					</div>
					<div class="features__content">
						<div class="features__text">No of Rear Camera</div>
						<div class="features__text">3</div>
					</div>
					<div class="features__content">
						<div class="features__text">5G LTE</div>
						<div class="features__text">Yes</div>
					</div>
					<div class="features__content">
						<div class="features__text">Dual Sim</div>
						<div class="features__text">Yes</div>
					</div>
					<div class="features__content">
						<div class="features__text">Front Camera</div>
						<div class="features__text">yes</div>
					</div>
					<div class="features__content">
						<div class="features__text">Security</div>
						<div class="features__text">Face scanner</div>
					</div>
					<div class="features__content">
						<div class="features__text">Processor</div>
						<div class="features__text">3.22GHz</div>
					</div>
					<div class="features__content">
						<div class="features__text">Memory Card Reader</div>
						<div class="features__text">No</div>
					</div>
					<div class="features__content">
						<div class="features__text">
							Maximum Resolution(Highest Frame Rate)
						</div>
						<div class="features__text">1920x1080 (HD 1080)pixels</div>
					</div>
					<div class="features__content">
						<div class="features__text">Bluetooth Version</div>
						<div class="features__text">5.0</div>
					</div>
					<div class="features__content">
						<div class="features__text">Data connector</div>
						<div class="features__text">Lightning</div>
					</div>
					<div class="features__content">
						<div class="features__text">Built-in-Wireless Charging</div>
						<div class="features__text">Yes</div>
					</div>
				</div>
			</div>
		</section>
		{% endblock maincontent %}
	</body>
</html>
