/* Forgot Password styles */
#hair {
  color: #1b29a9;
}

header[forget-pass-nav] {
  width: 917px;
}
.grid--1-col {
  display: grid;
  grid-template-areas: none !important;
  /* width: 1000px; */
}

.nav-links ul li {
  /* list-style: none;
    width: 100%;
    text-align: center;
    padding: 0.5em; */
  display: flex;
}

span[drop] {
  color: #fff;
}

div[forget-pass] ul {
  background-color: #949efe;
}

div[human-hair] ul {
  background-color: #949efe;
}

.forget-pass-form {
  display: grid;
  justify-content: center;
  place-items: center;
  margin-top: calc(100% - 450px);
}

.forget-pass-text {
  text-align: center;
  margin-bottom: 32px;
}
.forget-pass-text h6 {
  color: #1b29a9;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.forget-pass-text p {
  font-size: 16px;
  width: 500px;
  padding: 16px;
  background-color: #f8f9fa;
  line-height: 1.4;
}
.forget-pass-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}
label[for="email"] {
  /* display: block; */
  font-size: 14px;
  width: 100%;
  padding: 8px 0 8px 0;
  color: #1b29a9;
}
input[type="email"] {
  /* display: block; */
  width: 100%;
  padding: 24px;
  border: 1px solid rgba(90, 90, 90, 0.5);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}
button[submit],
button[return] {
  padding: 32px 24px;
  background-color: #949efe;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 32px;
  cursor: pointer;
}

button[return] {
  color: #1b29a9;
  background-color: #fff;
  border: 1px solid #1b29a9;
  margin-bottom: calc(100% - 228px);
  cursor: pointer;
}
