/*hamburger menu*/
div.icons {
  display: none;
}
header .icons div,
header .icons a {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  background: rgb(39, 38, 38);
  color: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.7rem;
}
header .icons div:hover,
header .icons a:hover {
  background: var(--secondary-color);
  color: #fff;
}
header.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar {
  position: fixed;
  top: 0;
  left: -120%;
  height: 100%;
  background: var(--main-color);
  padding: 3rem;
  width: 23rem;
}
.navbar.active {
  left: 0;
  z-index: 1;
}
.navbar .user {
  text-align: center;
  margin: 3rem auto;
}
.navbar .user img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.5rem solid var(--main-color);
  object-fit: cover;
  box-shadow: 4rem 2rem 0 -3rem var(--secondary-color),
    -4rem -2rem 0 -3rem var(--secondary-color);
}
.navbar .user h4 {
  padding-top: 0.5rem;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
}
.navbar .links a {
  display: block;
  text-decoration: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #333;
}
.navbar .links a:last-child {
  border: none;
}
.navbar .links a:hover {
  letter-spacing: 0.2rem;
  color: var(--secondary-color);
}
.navbar #close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  color: #333;
}
.navbar #close:hover {
  color: var(--secondary-color);
}
/* ends here  */

@media screen and (max-width: 768px) {
  .top-link {
    display: none;
  }

  div.icons {
    display: block;
  }

  [gadgetBrands],
  [popularBrands],
  [about] {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  header {
    max-width: 90%;
    margin: auto;
  }
}
