{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Accessories</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="/static/css/gadgetPhones.css">
</head>

<body>
    <header></header>
    <main>
        <section class="hero-section">
            <img src="../images/accesories/Rectangle 9.png" alt="" />
            <img src="../images/accesories/Rectangle 10.png" alt="" />
            <img src="../images/accesories/Rectangle 11.png" alt="" />
            <img src="../images/accesories/Rectangle 12.png" alt="" />
            <img src="../images/accesories/Rectangle 13.png" alt="" />
            <img src="../images/accesories/Rectangle 14.png" alt="" />
        </section>

        <aside class="filter">
            <h2>Filters</h2>
            <input search type="text" placeholder="Search A-Z" name="" id="" />
            <p search-text>
                Search Alphabetically or apply some filters <br />
                from below
            </p>
            <span>Search A-Z</span>

            <h2>Price</h2>
            <div class="amount">
                <input type="tel" placeholder="Min" name="min" id="min" />
                to
                <input type="tel" placeholder="Max" name="max" id="max" />
            </div>

            <div class="popular">
                <h3>Popular Hair Types</h3>
                <div>
                    <a href="#"> Human Hair Blend </a>
                </div>
                <div>
                    <a href="#">Synthetic</a>
                </div>

                <div><a href="#">See more...</a></div>
            </div>

            <div class="stores">
                <h3>Stores</h3>
                <div>
                    <a href="#"> Naijabeautyhair </a>
                </div>
                <div>
                    <a href="#">Yendyhairkulture</a>
                </div>
                <div>
                    <a href="#">Hairbyginika</a>
                </div>
                <div><a href="#">See more...</a></div>
            </div>
            <div load-more><a href="">Load more</a></div>
        </aside>

        <div container>
            <section class="iPhone main-content">
                <h2>Hair Ornaments</h2>
                <div class="preview">
                    <div class="box">
                        <div>
                            <img src="../images/accesories/Rectangle 12.png" alt="" />
                        </div>
                        <div>
                            <h4>Hair Butterfly Clips</h4>
                            <p>&#8358;5,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/accesories/image 27.png" alt="" />
                        </div>
                        <div>
                            <h4>Hair Claw Clips</h4>
                            <p>&#8358;12,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/accesories/image 29.png" alt="" />
                        </div>
                        <div>
                            <h4>Hair Metal Clips</h4>
                            <p>&#8358;12,000</p>
                        </div>
                    </div>
                </div>
                <div see_more>
                    <a href="#">See more...</a>
                </div>
            </section>

            <section class="samsung main-content">
                <h2>Hair Glue And Gel</h2>
                <div class="preview">
                    <div class="box">
                        <div>
                            <img src="../images/accesories/image 42.png" alt="" />
                        </div>
                        <div>
                            <h4>Got2b Glue Set</h4>
                            <p>&#8358;10,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/accesories/image 41.png" alt="" />
                        </div>
                        <div>
                            <h4>Ghostbond</h4>
                            <p>&#8358;4,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/accesories/image 43.png" alt="" />
                        </div>
                        <div>
                            <h4>Gorilla Snot Gel</h4>
                            <p>&#8358;3,500</p>
                        </div>
                    </div>
                </div>
                <div see_more>
                    <a href="#">See more...</a>
                </div>
            </section>

            <section class="tecno main-content">
                <h2>Hair Electronics</h2>
                <div class="preview">
                    <div class="box">
                        <div>
                            <img src="../images/accesories/image 37.png" alt="" />
                        </div>
                        <div>
                            <h4></h4>
                            <p>&#8358;12,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/accesories/image 40.png" alt="" />
                        </div>
                        <div>
                            <h4>Hair Straightener and Curler,2 in 1</h4>
                            <p>&#8358;28,000</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/accesories/image 37.png" alt="" />
                        </div>
                        <div>
                            <h4>Blow Dryer 1800 Watts</h4>
                            <p>&#8358;35,000</p>
                        </div>
                    </div>
                </div>
                <div see_more>
                    <a href="#">See more...</a>
                </div>
            </section>

            <section class="hot-deals main-content">
                <h2>Hot Deals</h2>
                <div class="preview">
                    <div class="box">
                        <div>
                            <img src="../images/human hair/image 47.png" alt="" />
                        </div>
                        <div>
                            <p>45% discount</p>
                            <h4>Straightener + Hair Oil</h4>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <img src="../images/human hair/image 47-1.png" alt="" />
                        </div>
                        <div>
                            <p>40% discount</p>
                            <h4>Pixie cut Frontal Lace Wig</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section reviews>
            <i class="fas fa-star"></i>
        </section>
    </main>

    <footer>
        <section class="footerContainer">

            <section class="Social_Icons">
                <div class="footLogo">
                    <img src="/images/Asset 3.png" alt="">
                </div>
                <div class="Icons">
                    <ul>
                        <li> <a href="#"> <img src="/facebook.png" alt=""> icons</a> </li>
                        <li> <a href="#"> <img src="/twitter.png" alt=""> icons </a> </li>
                        <li> <a href="#"> <img src="/instagram.png" alt=""> icons</a> </li>
                        <li> <a href="#"> <img src="/youtube.png" alt=""> icons</a> </li>
                    </ul>
                    <ul>
                        <li> <a href="#"> <img src="/facebook.png" alt=""> icons</a> </li>
                        <li> <a href="#"> <img src="/twitter.png" alt=""> icons</a> </li>
                        <li> <a href="#"> <img src="/instagram.png" alt=""> icons </a> </li>
                        <li> <a href="#"> <img src="/youtube.png" alt=""> icons</a> </li>
                    </ul>

                </div>

            </section>

            <section categories>
                <p><strong>Categories</strong></p>
                <ul>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Bone Straight</a></li>
                    <li><a href="#">Human Hairs</a></li>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Mobile Phones</a></li>
                    <li><a href="#">Men's Wear</a></li>
                    <li><a href="#">Men's Shoes</a></li>
                    <li><a href="#">Women's Wear</a></li>
                    <li><a href="#">Women's Shoes</a></li>
                    <li><a href="#">Smart TVs</a></li>
                </ul>
            </section>
            <section gadgetBrands>
                <p><strong>Gadgets Brands</strong></p>
                <ul>
                    <li><a href="#">Apple TVs</a></li>
                    <li><a href="#">Dell</a></li>
                    <li><a href="#">Hisense</a></li>
                    <li><a href="#">Infinix Smart TVs</a></li>
                    <li><a href="#">iPhones</a></li>
                    <li><a href="#">Oppo</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Spectre</a></li>
                    <li><a href="#">Polystar</a></li>
                    <li><a href="#">Watches</a></li>
                </ul>
            </section>
            <section popularBrands>
                <p><strong>Popular Brands</strong></p>
                <ul>
                    <li><a href="#">Amazon</a></li>
                    <li><a href="#">Apple</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Lewi's</a></li>
                    <li><a href="#">Microsoft</a></li>
                    <li><a href="#">7up</a></li>
                    <li><a href="#">Zara</a></li>

                </ul>
            </section>
            <section About>
                <p><strong>About</strong></p>
                <ul>
                    <li><a href="#">About WalletFriendly</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Compare Prices</a></li>
                    <li><a href="#">Latest News</a></li>

                </ul>
            </section>
        </section>


        <hr bottom>

        <section bottom>

            <div class="bottom">
                <p> <strong>Copyright 2022,</strong>WalletFriendly © <strong>All Rights Reserved</strong></p>
            </div>
            <div class="contact">
                <a href="#">Contact Us</a>
                <div class="box"></div>
                <a href="#">Privacy Policy</a>
                <div class="box"></div>
                <a href="#"> Terms of Service</a>
            </div>
        </section>
    </footer>

</body>

</html>