{% load static %}
 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <!-- <link rel="stylesheet" href=" {% static '../css/gadgetPhones.css' %} " /> -->
    <link rel="stylesheet" href=" {% static '../css/login.css' %} " />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src=" {% static '../script/sidebar.js' %} " defer></script>
  </head>
  <body id="login-body-content">
    <header>
      <section class="head_section">
       <a href=" {% static '' %} "></a> <div class="icons"> </a> 
          <div id="menu-bar" class="fas fa-bars"></div>
        </div>
        <nav class="navbar">
          <div class="user">
            <img src=" {% static '../images/model.png' %} " alt="" />

            <h4>John Doe</h4>
          </div>

          <div class="links">
            <a href=" {% url '' %} ">Home</a>

            <a href=" {% url 'aboutUs' %} ">About</a>

            <a href=" {% url 'team' %} ">Team</a>

            <a href=" {% url 'faq' %} ">FAQ</a>

            <a href=" {% url 'contactUs' %} ">Contact Us</a>
          </div>

          <div id="close" class="fas fa-times"></div>
        </nav>
        <a href=" {% static './index.html' %} " class="shift">
          <div class="logo">Wallet<span>Friendly</span></div>
        </a>
        <!-- <div class="search_bar">
					<input
						type="search"
						placeholder="Search Product, brand"
						name="search"
						id="search_bar"
					/>
				</div> -->
        <!-- <div class="top-link">
          <ul>
            <li><a href=" {% static '' %} ">About</a></li>
            <li><a href=" {% static '' %} ">Team</a></li>
            <li><a href=" {% static '' %} ">FAQs</a></li>
            <li><a href=" {% static '../template/contactUs.html' %} ">Contact</a></li>
          </ul>
        </div>
        <div class="login">
          <div>
            <span class="material-symbols-outlined">person</span>
            <button class="signInButton">
              <a href=" {% static '../template/Login.html' %} "> Login </a>
            </button>
          </div>
          <div>
            <span class="material-symbols-outlined">shopping_cart</span>
          </div>
        </div> -->
      </section>

      <!-- <nav id="nav_bar">
        <div class="nav-links nav-list">
          <ul>
            <li fashion>
              <a href=" {% static '../template/fashion.html' %} "> Fashion</a>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href=" {% static '../template/fashionMen.html' %} ">Men's Clothing</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/fashionWomen.html' %} ">Women's Clothing</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/fashionMen.html' %} ">Men's Shoes</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/fashionWomen.html' %} ">Women's Shoes</a>
                  </li>
                </ul>
              </div>
            </li>

            <li gadget>
              <a href="#"> Gadget</a>

              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href=" {% static '../template/gadgetPhones.html' %} ">Mobile Phones</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/gadgetLaptops.html' %} ">Laptops</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/gadgettv.html' %} ">Smart TVs</a>
                  </li>
                </ul>
              </div>
            </li>
            <li hair>
              <a href=" {% static '../template/hairHomePage.html' %} "> Hair</a>

              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href=" {% static '../template/humanHair.html' %} ">Human Hair</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/boneStraight.html' %} ">Bone Straight</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/hairAccessories.html' %} ">Accessories</a>
                  </li>
                </ul>
              </div>
            </li>
            <li compare>
              <a href=" {% static '../template/compareGadgets.html' %} "> Compare</a>
              <div class="subMenu1">
                <ul class="linkPages">
                  <li>
                    <a href=" {% static '../template/compareGadgets.html' %} ">By Price</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/compareGadgets.html' %} ">By Brand</a>
                  </li>
                  <li>
                    <a href=" {% static '../template/compareGadgets.html' %} ">By Rating</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav> -->
    </header>

    <form action="" id="login-form">
      {% csrf_token %}
      {% if user.is_authenticated %}
      <h2 class="form__title">Login</h2>
      <div class="login__input-box">
        <label class="login-label" for="email-phone"
          >Email Address or Phone Number</label
        >
        <input
          type="text"
          name="email-phone"
          id="email-phone"
          placeholder="Enter Email Address or Phone Number"
          required
        />
      </div>
      <div class="login__input-box">
        <label class="login-label" for="password">Password</label>
        <input
          type="text"
          name="password"
          id="password"
          placeholder="Enter Password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          required
        />
        <span class="password--link">
          <a href=" {% static '' %} ">Forgot Your Password?</a>
        </span>
      </div>
      <button class="login-btn" type="submit">Login</button>
      <p class="form__text">OR</p>
      <div class="login__option">
        <a href=" {% static '' %} " class="login-option__link">Login in with Facebook</a>
        <a href=" {% static '' %} " class="login-option__link">Login in with Google</a>
      </div>
      <div class="login__create-account">
        <p class="form__text">Don't Have An Account?</p>
        <div class="create-account__link">
          <a href=" {% static './createAccount.html' %} ">Create Account</a>
        </div>
      </div>
    </form>
  </body>
</html>
